[2018-11-19 23:24] hmitsch opened #1 "Picture overflow"
<img width="255" alt="image" src="https://user-images.githubusercontent.com/869692/48741170-8d802f00-ec5a-11e8-92de-af8cd8319644.png">

Name was anonymized via DevTools Inspector.

[2018-11-20 00:12] hmitsch opened #2 "Beautify page titles"
`<title>OrgchartHighlight - Mozillians</title>`

[2018-11-20 00:55] hmitsch opened #3 "Search: trailing space causes issues"
Test condition: Search for `Henrik ` (there is a white space at the end).

Expected result: Some Henriks are returned.

Actual result: 0 results

[2018-11-20 01:00] hmitsch opened #4 "After Search the search box is not collapsed"
On mobile this means that the staff|contributor filter is not visible.

[2018-11-20 01:02] hmitsch opened #5 "Zoom is not reset after search"
* On mobile, click into the search field
* window is zoomed
* enter a string, hit search

Actual result:
* window remains zoomed. Results are not shown in the context of the full page.

[2018-11-20 08:12] hidde commented on #5
Unfortunately this is native iOS behaviour and outside of our control. The only fix is larger font sizes; if we'd increase the input's text size to `16px`, iOS won't zoom in (or out).

@mbransn Are you ok with me bumping font size in the search input to `16px`? We could also do it just for small screens.

[2018-11-20 08:13] hidde commented on #2
GMTA, I have a PR for this, expect this to be merged in shortly https://github.com/mozilla-iam/dino-park-front-end/pull/124

[2018-11-20 08:39] hidde commented on #1
Issue is fixed in this PR: https://github.com/mozilla-iam/dino-park-front-end/pull/137

[2018-11-20 09:20] hidde commented on #5
I've gone with increasing font size now, change is in this PR: https://github.com/mozilla-iam/dino-park-front-end/pull/137

[2018-11-20 09:21] hidde commented on #4
I've just fixed this, change is in this PR https://github.com/mozilla-iam/dino-park-front-end/pull/137

[2018-11-20 12:47] hmitsch opened #6 "Design vs. Real Data: Time Zones missing?"
**Design:**
<img width="371" alt="image" src="https://user-images.githubusercontent.com/869692/48774488-b8a26700-ecca-11e8-832e-3705cc174df3.png">

**Real Data:**
<img width="383" alt="image" src="https://user-images.githubusercontent.com/869692/48774486-b6400d00-ecca-11e8-9861-fe715c700f93.png">

Do we not get the `time zone` from Profile V2?

[2018-11-20 15:49] hidde commented on #5
Changes are now visible in the beta, feel free to close if the update is satisfactory.

[2018-11-20 15:49] hidde commented on #4
This change was deployed, closing this issue.

[2018-11-20 15:50] hidde commented on #4
Oh, I can't. Can you, @hmitsch?

[2018-11-20 15:54] hidde commented on #2
An update to this was deployed. we now use:

Page | Title used
----- | --------
Profile | username - Profile - Mozillians
Org chart | Org chart - Mozillians
Org chart with someone highlighted | username - Org chart - Mozillians
Other pages | Page name - Mozillians

This follows the principle of most unique part first.

Should we use DinoPark instead of Mozillians?

[2018-11-20 15:58] hidde commented on #1
Issue has also been fixed by @fiji-flo  on the server side, which only generates square pictures now. 🎉

[2018-11-20 17:53] mbransn commented on #5
I'm good with this, thanks @hidde ...sadly I'm unable to close as I'm not a member of this repo -- add please? cc @hmitsch

[2018-11-20 21:20] #4 closed

[2018-11-20 23:00] hmitsch opened #7 "Exact the same hr-title and fun-title"
**Example: Megan's profile**
<img width="324" alt="image" src="https://user-images.githubusercontent.com/869692/48808182-4d837f80-ed20-11e8-8593-bdc6f817bd90.png">

Can we do something so that in case hr-title and fun-title are exactly the same, only one of them is displayed?

[2018-11-20 23:02] hmitsch opened #8 "null null in manages tooltip"
Hovering over a name in the `Relations` component shows `null null`:
<img width="311" alt="image" src="https://user-images.githubusercontent.com/869692/48808262-92a7b180-ed20-11e8-8fb5-783325b3778c.png">

Can we improve that?

[2018-11-20 23:22] hmitsch opened #9 "Two/Three spinners showing upon page load"
Open org chart view. Two spinners are on that page:
<img width="522" alt="image" src="https://user-images.githubusercontent.com/869692/48809080-76f1da80-ed23-11e8-8a1a-3d48b276297d.png">

[2018-11-21 09:40] fiji-flo commented on #8
Lovely case of snake vs camel case. Will be fixed. This also brings back the _name_ field in the _reports to_ section.

[2018-11-21 11:12] hidde commented on #8
Note this is also reported in DP-704, I'll assign that to you too, Florian.

[2018-11-21 11:15] hidde commented on #9
This is because we are loading 3 things, they can finish loading at different times.

If we want to fix it, we probably want to make 'loading' a global thing, as in, if one component is loading something, we consider the whole interface to be 'loading'. I think that's not good, because often other parts of the interface are usable if a thing is loading. I'd prefer components to have their own load

[2018-11-21 12:29] hidde commented on #6
I'm not sure if we do or not… @fiji-flo do you?

[2018-11-21 14:19] hmitsch opened #10 "Error on search query with parentheses"
Search team: `US Remote (OR)`
URL: https://web-mozillians.dinopark.infra.iam.mozilla.com/beta/s?query=US%20Remote%20%28OR%29

Result:
```JSON.parse: unexpected character at line 1 column 1 of the JSON data```

[2018-11-21 14:44] hmitsch commented on #9
@mbransn, your call. :-)

[2018-11-21 18:52] mbransn commented on #6
I thought we did. Would be really great to see for this release if available. 🙏

[2018-11-21 20:41] geroter opened #11 "Org chart scrolls up when I click on a user"
**Expected result**
When I click a person in the org chart view, I expect the org chart to stay at the same scroll location as the person who I clicked.

**Actual result**
If I have scrolled down to get to a person in the org chart, and then click on that person, when the profile comes up on the right hand side the org chart scrolls upward so that I can no longer see the person/part of the org cha

[2018-11-21 20:42] geroter commented on #11
The org chart also scrolls/snaps to the top when I close a user profile, which is not an expected behaviour.

[2018-11-21 20:52] geroter opened #12 "Clicking on a link in the footer or Discourse links on the front page should open a new tab"
**Expected result**
When I click on a link that takes me away from the site, I expect that will open a new tab.

**Actual result**
Clicking on a footer link or the links on the front page to Discourse posts opens the referring URL in the same tab/window as DinoPark.

[2018-11-21 22:16] fiji-flo commented on #8
resolved

[2018-11-21 22:16] #8 closed

[2018-11-22 00:06] mbransn commented on #9
One spinner please, three looks quite broken to those who don't know what's happening behind the scenes. @hidde is it possible to allow content to load in as it's ready, even though we only display one spinner?

[2018-11-22 12:45] hidde commented on #12
Thanks for reporting, I've fixed it this morning.

The fix is in this PR, which should merge and deploy sometime today: https://github.com/mozilla-iam/dino-park-front-end/pull/142

[2018-11-22 12:57] hidde commented on #11
Thanks for reporting. We're aware of the issue and it has high priority in our Jira board.

[2018-11-23 00:23] emmairwin opened #13 "SSO authentication error"
Hi,

I logged in with Mozillians (as instructed)
I then went to https://people.allizom.community
Was redirected to the SSO login.  I get this error with no specific details:
![mozilla_sso_dashboard_-_2018-11-22_16 21 28](https://user-images.githubusercontent.com/60618/48924937-ea563200-ee72-11e8-94c5-64847f631f26.png)

[2018-11-23 04:36] kelimuttu opened #14 "Search query remains after search completed"
**step to reproduce**: put something in the search field and search (or not, doesn't matter). The search query will remains in the field as we continue to navigate to the other page.

although not particularly annoying, I think it's not an expected behaviour?

[2018-11-23 14:04] akatsoulas opened #15 "Accepted characters in usernames."
We should define the accepted characters in a username. Sometimes there are 404 erros when querying the search service due to characters in the username. For example `di/no` triggers such an error.

[2018-11-26 09:58] akatsoulas opened #16 "Do not try to fetch contributor profiles for orgchart."

[2018-11-26 10:31] akatsoulas commented on #16
Tracked here
https://github.com/mozilla/mozillians/issues/3078

[2018-11-26 10:31] #16 closed

[2018-11-26 10:43] hmitsch commented on #13
Hi @emmairwin,

glad things worked in the end. You are right, we need to refine login errors. We have this on our backlog. Thanks a lot!

Best regards,
   Henrik

[2018-11-26 10:46] akatsoulas commented on #13
Thanks for @emmairwin for filing this. I am closing this issue as login is working. The UX experience will be handled in a different issue.

[2018-11-26 10:46] #13 closed

[2018-11-26 16:19] LucyeoH opened #17 "Can I edit my profile?"
I wanted to hide my phone number (I really don't want people to call me :))

I expected to be able to edit my profile by clicking "my profile" in the menu but that didn't work.

Is the edit feature not available yet?

[2018-11-26 19:17] mbransn commented on #17
@LucyeoH good flag and very much a [feature we're working toward](https://screenshots.firefox.com/YbFxw5XCJv4PPaNk/web-mozillians.dinopark.infra.iam.mozilla.com). Currently, Phone number visibility provides feature parity with Phonebook, where staff members are able to see eachother's phone numbers.

Our next update will include the ability to edit your profile and set the visibility of your conte

[2018-11-26 20:54] hmitsch opened #18 "ELK for IAM/DinoPark logs"
Objective: Replace Google Analytics with ELK (ElasticSearch/Grafana) log analysis.

[2018-11-26 21:01] hmitsch commented on #17
The only thing I'd like to add:
This kind of data availability is the reason for our "double auth wall" which ensures that only Staff have access to DinoPark at this moment.

[2018-11-26 21:01] #17 closed

[2018-11-27 10:08] hmitsch commented on #3
@fiji-flo this is done, right?

[2018-11-27 10:09] #1 closed, assigned to nobody

[2018-11-27 10:31] hmitsch commented on #18
Category: important but not super-urgent.

[2018-11-27 10:38] hmitsch commented on #9
New idea on how to transform this "annoyance" into a feature: We will write a text, describing what each spinner is actually doing:
* Loading people ...
* Loading org chart ...
* Loading ...

[2018-11-27 13:29] geroter opened #19 ""Mozillians" still used in a bunch of places to describe the site"
The word "Mozillians" is still used in a few places to describe the site.

For example:
1)  <title>Mozillians</title> in the <head>
2) <noscript>
      <strong>
        We're sorry but Mozillians doesn't work properly without JavaScript enabled. Please enable it to continue.
      </strong>

I couldn't find any more, but maybe easy to search around.

[2018-11-27 18:32] mbransn commented on #9
I'm not sure we want load times to take long enough for this type of text to display.

@hidde I still have the same question as above: "is it possible to allow content to load in as it's ready, even though we only display one spinner?"

[2018-11-27 18:33] hidde commented on #9
@mbransn It is possible to show only one, but which one should we then show?

[2018-11-27 20:09] mbransn commented on #9
@hidde a perceived single loader; is it possible to create a hierarchy that prioritizes what gets loaded and presented first while other secondary and tertiary, heavier content is still loading in the background? G-Drive seems to do this now that I think about it, though I have no idea how it's achieved.

Also, this is not a top priority issue for me. Something we can continue to work through.

[2018-11-28 15:18] LucyeoH opened #20 "I got an error message"
When I tried again it worked but the first time I searched for Andreas this is what I saw.

<img width="1078" alt="screen shot 2018-11-27 at 2 42 17 pm" src="https://user-images.githubusercontent.com/8070833/49161476-e4d76c80-f2f6-11e8-840a-723d7069ff13.png">

[2018-11-28 15:23] nukeador opened #21 "Org chart hierarchy visuals"
Hi,

I find a bit challenging to visually see on the org chart when a team finish and the next one starts when you expand one of them.

_[screenshot removed to ensure privacy]_

In this screenshot I'm referring to the space between Vance Chen and Michael DeAngelo

[2018-11-28 19:49] LucyeoH opened #22 "Abbreviated first name struggles"
[Caveat - Not sure if this is even a bug....]

I was trying to search for "Matt Grimes" but it returned no search results until I either removed "Matt" or typed in "Matthew".

Might not be fixable but is confusing b/c some people go by the abbreviated versions of their names which makes it hard to find them in the people directory.

[2018-11-29 10:50] akatsoulas commented on #3
This is fixed. Closing

[2018-11-29 10:50] #3 closed

[2018-11-29 10:54] akatsoulas commented on #12
@hidde is this fixed?

[2018-11-29 11:00] hmitsch commented on #21
Hi @mbransn,

I'd be interested to hear your thoughts on this.

Best regards,
   Henrik

[2018-11-29 11:01] hmitsch commented on #21
PS: @nukeador and @lucyeoh, thanks for reporting this. That's exactly the type of feedback we are looking for!

[2018-11-29 16:30] hidde commented on #19
Thanks @geroter, they were indeed the last two places where we still used it, not counting the README. I have removed both, this change is now live.

[2018-11-29 16:30] #19 closed

[2018-11-29 16:32] hidde commented on #12
@akatsoulas it is now, the fix is currently live.

Closing this issue, thanks @geroter.

[2018-11-29 16:32] #12 closed

[2018-11-29 16:33] hmitsch commented on #22
Need to discuss this with @akatsoulas and @fiji-flo.

[2018-11-29 22:14] flekkowich opened #23 "Browser compabtibility: iOS v11.4 (was: Error messages on Search and Org Chart)"
I'm finding that on mobile when I try to use Org Chart and Search i get errors

mobile iOS v 11.4
Safari and Chrome

Org chart:
visit: people.allizom.community
auto-login (already logged in once and worked on first log in).
select Org Chart in top nav
Error: only shows one white stribe w/ copy "people who need their managers set"

Search
visit: people.allizom.community
auto-login (already logged i

[2018-11-29 22:19] mbransn commented on #21
Thanks for the flag @hmitsch --  @nukeador @LucyeoH I echo the appreciation for the feedback as this is definitely a 'tough thing' to figure out design wise.

We've gone through multiple iterations and will continue to fine tune as we gather this feedback and others through _demo table_ + _remote user testing_ + _in person user testing_.

I'll ask for a small bit of patience as we start to work th

[2018-11-30 09:57] akatsoulas commented on #20
This should be fixed with the latest release. @LucyeoH can you try again this search to verify if this is working for your profile?

[2018-11-30 12:18] hmitsch commented on #23
Hi @flekkowich,

thanks for reaching out. You are using an old version of iOS. DinoPark is currently supporting _Evergreen Browsers_ only.

I suggest we wait for more feedback to see if we need to re-evaluate this decision.

Best regards,
   Henrik

[2018-11-30 12:19] hmitsch commented on #22
Hi @LucyeoH,

the issue you reported is now solved. Please reach out if you observe other search issues.

Best regards,
   Henrik

[2018-11-30 12:19] #22 closed

[2018-11-30 12:19] #20 closed

[2018-11-30 23:59] hmitsch opened #24 "Non-existing profiles: Indefinite Spinning"
Steps to reproduce:
* Open https://web-mozillians.dinopark.infra.iam.mozilla.com/beta/p/testestest
* DinoPark opens, spinner turns forever

Desired behaviour:
Can we get some error handling around this case?

/cc @jeffbryner

[2018-12-03 11:19] hmitsch opened #25 "A tag closed too late on officeLocation"
<img width="558" alt="image" src="https://user-images.githubusercontent.com/869692/49370796-4ca90100-f6c3-11e8-808f-75a75fb7ca81.png">

Can we make it so that the time zone is _outside_ the link?

[2018-12-03 14:14] hidde commented on #24
The front-end has error handling for this specific case, but that is currently not triggered on the beta. We're working on this in Jira issue DP-831.

[2018-12-03 14:16] hidde commented on #25
Fix for this is on the way in https://github.com/mozilla-iam/dino-park-front-end/pull/158

[2018-12-03 21:21] hmitsch opened #26 "Relations (org chart): Showing funTitle instead of businessTitle"
The `Relations` section shows the `funTitle` instead of the (business) `title`.

<img width="455" alt="image" src="https://user-images.githubusercontent.com/869692/49402278-8146a800-f717-11e8-8f7a-26b993cf4683.png">

[2018-12-04 11:34] hmitsch opened #27 "View in Org Chart: Show org chart highlight somewhat centered"
**Step 1:** Click _view in org chart_
<img width="665" alt="search result page for hmitsch, shows one result, result has view in org chart button" src="https://user-images.githubusercontent.com/869692/49439213-73803980-f78e-11e8-997e-6974cbeb76e4.png">

**Current result:** Person highlighted at the bottom of the screen
<img width="579" alt="shows person highlighted at bottom of screen, with URL pr

[2018-12-04 19:42] flekkowich opened #28 "Org Chart from Profile view -> show expanded Org Chart from profile down"
When clicking Org Chart from Profile view, show expanded Org Chart from profile down

Current:
Go to profile
Click Org Chart in Relations box
Show collapsed profile view

Future
Go to profile
Click Org Chart in Relations box
Show expanded profile view from source profile and down.

[2018-12-05 10:32] hidde commented on #27
(edited issue to have alternative text)

[2018-12-05 10:57] hidde commented on #27
This is now fixed in prod.

The fix uses an argument for `scrollIntoView` that Safari and some other browsers don't understand, we're fixing that here: https://github.com/mozilla-iam/dino-park-front-end/pull/161 by giving those browsers the behavior we had (align highlighted person to bottom of viewport).

[2018-12-05 11:03] hidde commented on #25
This is now fixed in prod!

[2018-12-05 11:03] #25 closed

[2018-12-05 11:04] hidde commented on #6
They were indeed missing, but have been added in prod this weekend by @fiji-flo. 🎉

[2018-12-05 11:04] #6 closed

[2018-12-05 11:52] #27 closed

[2018-12-05 11:56] hmitsch commented on #7
I thought about this. Actually, let's defer building this. It will be made unnecessary by _edit mode_.

@mbransn: I a happy to have a follow-up conversation. For the moment, I'd close this issue.

[2018-12-05 11:56] #7 closed

[2018-12-05 11:56] hmitsch commented on #10
There is an error page in place now. :-)

[2018-12-05 11:56] #10 closed

[2018-12-05 11:57] hmitsch commented on #15
We now have an error page in place.

[2018-12-05 13:20] flekkowich commented on #21
A few add-ons to this problem I see:

1. The phonebook has very different symbols for manager and non-managers (arrow vs dots), they are different in size and they are different in colour which makes it easier to identify differences.

2. In phonebook the icons are a lot smaller, making them more guiding and they don't take over the hierarchy as much.

3. The alternating colours currently help ide

[2018-12-06 10:22] hidde commented on #28
Thanks @flekkowich, great point! We've just shipped this. Managers are now pre-expanded when you view them in org chart (from ‘View in org chart’ on the profile, or from the search result).

[2018-12-06 10:22] #28 closed

[2018-12-06 11:56] hmitsch opened #29 "Remove Phone Number from Contact Me Component"
(from All Hands Demo)

Beta user feedback shows that people do not appreciate having their `phone number` in the _Contact Me_ component.
Let's remove it. :-)

[2018-12-06 11:58] hmitsch opened #30 "Hoverstatus for clickable links"
(from All Hands Demo)

Some things in a profile are clickable and become search queries (e.g. officeLocation). We got user feedback, that it is not clear that these things are clickable. Do we want to change things in any way or keep them as is?

/cc @mbransn

[2018-12-06 12:04] hmitsch opened #31 "Add link to Manager on Team Name (Team Location component)"
(from All Hands Demo)

We saw that people would also like to click on a person's manager from the _Team Location_ (top page) comonent. See highlighted text in image below:

<img width="627" alt="image" src="https://user-images.githubusercontent.com/869692/49583076-0e128100-f925-11e8-937d-796a517ea45f.png">

[2018-12-06 12:10] hmitsch commented on #23
DinoPark works after updating to the latest iOS. Closing issue.

[2018-12-06 12:10] #23 closed

[2018-12-06 12:20] hmitsch opened #32 "UI Feedback: Names on Manages section in Relations Component"
User feedback:

/cc @mbransn: I copied this issue here from our mail thread. Hope that's okay.

[2018-12-06 13:33] hidde commented on #30
For the record, these are my thoughts: as a general rule, links should be distinguishable (blue and underline is awesome), but in this specific case, I think it is ideal if we require users to ‘learn’ they exist. The only (I admit, super subtle) hint is the hand cursor and the URL preview tooltip. I would recommend not changing this and not making them look like links, because if we do that, we ma

[2018-12-06 16:08] mbransn commented on #30
@hidde for these type of links, how about a blue hover state. I believe we have this styling in the experience elsewhere, but perhaps not implemented yet (filter `cancel` comes to mind). I agree we do not desire to overburden cognitive load by peppering the experience with blue links throughout. A bit of discovery is a good thing, aiding that discovery with confirmation on hover would be good. Tou

[2018-12-06 16:11] globau opened #33 "line breaks not honoured in profile description"
it appears the line breaks are not honoured in a profile description.

my profile-desc is displayed as
[code]

it should look like
[code]

[2018-12-06 19:53] mathjazz opened #34 "Add meaningful content to the <title> tag"
First of all, excellent work! The app is beautiful and a pleasure to work with, both on my phone and laptop. Can't wait to see it live!

The only thing that bothers me a little is the [`<title>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/title) tag, which doesn't display meaningful content on the [profile page](https://web-mozillians.dinopark.infra.iam.mozilla.com/beta/p/r--9sxwOb1

[2018-12-06 20:21] hidde commented on #34
Hello @mathjazz ! Thanks for your kind words and for filing this ticket.

It may not seem like it, but the `title` is actually optimised for those pages, according to this format:

* `username` - Profile - Mozilla Directory
* `username` - Org Chart - Mozilla Directory

(with username being the person's username. The attributes are in order of uniqueness. In the beta, some (a lot) of our users have

[2018-12-06 21:05] mathjazz commented on #34
Oh, that makes sense. Thanks for the explanation!

[2018-12-06 21:05] #34 closed

[2018-12-07 21:11] hidde commented on #30
Oh I love that suggestion (blue on hover).

[2018-12-10 09:14] akatsoulas commented on #29
Is the phone number displayed in a less prominent position? Are we dropping this completely?

[2018-12-10 09:15] hidde commented on #29
It is still shown on people's profiles, just not on the Contact Me shortcut.

[2018-12-10 09:19] akatsoulas commented on #15
Reopening this issue to use it as a tracker for the username characters. Although we render a 404 page, it masks the problem. Validating the username will be part of the profile editing capabilities.

[2018-12-10 19:39] LucyeoH commented on #21
I was going to file a new issue but realized it might be the same as this. In the org chart view by default it's partially "unrolled" for some people in that it shows their direct reports without you having to "open" them up.

This is confusing because then it's not clear if they only have 1 direct report or whether you have to click to open them. So for example, I was trying to look up Nate Weine

[2018-12-10 21:27] jklukas opened #35 "Discourse category not available?"
When I click the link in the footer to give feedback (https://discourse.mozilla.org/c/iam/dinopark), I get an "Oops! That page doesn’t exist or is private" error message. Is there a separate permissions model for Discourse that I haven't been added to as a beta tester?

[2018-12-10 21:55] hmitsch commented on #35
Hi @jklukas, you need to be logged in to Discourse. The category is currently access restricted to Staff & NDA'd Mozillians.

Best regards,
   Henrik

[2018-12-10 21:55] ryanfeeley opened #36 "Remove siblings in org chart"
Would be nice to be able to see someone’s chain of command more easily. I just deleted them from the DOM but would this be an interesting view?
<img width="648" alt="image" src="https://user-images.githubusercontent.com/68213/49764024-54a50a00-fc9c-11e8-81a8-c561fc022b23.png">

[2018-12-10 21:57] jklukas commented on #35
Indeed. I don't use discourse on a regular basis, so totally missed that I wasn't logged in. Thanks.

[2018-12-10 21:57] #35 closed

[2018-12-10 21:58] hmitsch commented on #36
CC'ing in @mbransn @flekkowich, our design authorities.

[2018-12-10 22:01] jklukas opened #37 "Unclear where photos are being pulled from"
I changed my photo last week on Phonebook, but don't see the update in dino-park. It's unclear whether the photos were a one-time import from Phonebook or if they're coming from some other source. If it's going to be pulling from some other system long-term, it would be helpful to have some info on the page that indicates how to update photos.

[2018-12-10 22:47] hmitsch commented on #37
We pull photos off Phonebook. Currently, we still do _manual imports/updates_. The next update will be early next week.
We expect to switch to auto-updates early in the new year.

Best regards,
   Henrik

[2018-12-10 23:04] hmitsch commented on #21
@LucyeoH can you "force reload" the site. We expand the 1-level of direct reports when you open a person who manages others. Does this not work for you?

-Henrik

[2018-12-11 13:42] #37 closed

[2018-12-11 19:14] LucyeoH commented on #21
@hmitsch even when I just open the org chart without searching anyone it has some people are fully expanded, some people are partially expanded (only show 1 or 2 ppl) and some people fully rolled up.

I.e. Mark Surman is fully expanded, Angela is partially expanded (only shows Ashley.... why?), Michael is fully rolled.

<img width="611" alt="screen shot 2018-12-11 at 2 08 05 pm" src="https://user-

[2018-12-12 00:12] mbransn commented on #21
@LucyeoH the initial load of the org chart is showing our executive teams expanded. This was a UX decision to minimize the cognitive load when first viewing the org chart; e.g. having the org chart display fully expanded is hard to digest and showing just the top line executives is limiting. Our initial approach is to show Mitchell, Chris and Mark's direct reports, allowing people to 'dig in' to t

[2018-12-12 18:03] LucyeoH commented on #21
@mbransn ohhh it's really not clear visually that Angela and Ashley are on the same level. Which I think is the source of much of the confusion.

[2018-12-12 18:12] mbransn commented on #21
@LucyeoH agreed! Working to solve with this exact issue. 😄 Stay tuned...

[2018-12-12 20:22] Archaeopteryx opened #38 "Allow full expansion of org chart"
On phonebook, having the full org chart expanded and the full overview or people just a scroll is really speeding things up for me. It would be helpful if DinoPark had a button to expand the whole org chart.

[2018-12-13 09:41] hmitsch opened #39 "Org Chart Terminology: Relations feels awkward"
Feedback from a beta user:

I'm not sure I have a better suggestion

[2018-12-13 09:59] hidde commented on #38
@Archaeopteryx thanks for your feedback.

Currently, it is actually possible to do a full expansion of an org node, by pressing `Alt` while you click the plus icon to expand. That will expand everyone that in the reporting chain for that person.

This loads a lot of people and we can't guarantee excellent performance, but it should work.

Hope this helps!

[2018-12-13 10:09] hidde commented on #30
I found we also have the blue hover on the Show More button, so this is pretty consistent.

This is what I've implemented:

* hover for cancel button in search field (thanks @mbransn, I forgot about that one)
* hove states for links in profile

[2018-12-13 10:09] #30 closed

[2018-12-13 23:32] mbransn commented on #38
@Archaeopteryx +1 to what @hidde said, this is our expand functionality for beta. For future iteration we're working toward scope that includes expand/collapse UI, which should hopefully make usability more inclusive of all keyboard/mouse/track pad preferences.

[2018-12-14 00:32] mbransn commented on #32
Thanks @hmitsch -- I'd like to take this feedback, along with the relations naming feedback #39, and work through solutions with @rfirebaugh @flekkowich over the next week or so.

cc @hidde that this and org chart updates are our UX priority at the moment (alongside edit profile capabilities of course).

[2018-12-14 20:45] mbransn commented on #21
Hi all, an updated version of the org chart has been sent for implementation today (see screenshot below). Reassigning this to @hidde so we can notify here when this v2 is on production.

*Primary changes to expect*:
- chevron arrow replaces +/- for entries with children
- bullet precedes any entry without children
- indentation has been increased to provide more distinction between levels as entr

[2018-12-15 00:01] hmitsch commented on #39
I prefer `Colleagues` over `Teammates`. Should we give that a try in a release next week?

-Henrik

[2018-12-15 00:19] hmitsch commented on #21
Sorry for the late reply, it's `[Alt]+click` to expand the node and all its subnodes.
On MACs the [Alt] key is the [Option] key.

[2018-12-15 00:20] hmitsch commented on #21
These new designs look awesone, @mbransn!

[2018-12-17 18:57] janiceahn opened #40 "create clearer click/tap targets for org chart view"
Currently, the click (or tap) targets are not clear.

The common pattern is for carat to live on the far right. When user clicks on that row, expands or collapses.

In the beta, however, the carat for show more/less is on the far left.
When user clicks on row w/ a carat, the profile preview appears on right. So the expected expand/collapse doesn't happen.

Two possible solutions:
1) move carats to

[2018-12-18 16:28] gregglind opened #41 "BlueSky: Expanding DinoPark for Easier "What am I like? / Who am I?""
At Mozilla, we don't have a great place for
- enabling Designed Alliance (working together rules)
- talking about Emotional Labor
- how interact as humans

As a design, I wonder how to collect and share info like:
- my outside life:  (cats, kids, cars, my D&D character)
- I want early stage feedback on things / leave me alone until the project is ready
- weird / rare hobbies

How would I get to kn

[2018-12-18 16:30] gregglind opened #42 "BlueSky: The Face Game"
User Story:  As a remote worker, who rarely interacts in person, I want to tie Faces to people and facts, so that I am not surprised / can get more out of all hands.  I have no idea of what most people look like :)

Design:
- a faces / facts / names game.
- for a silo (all of Person X's undertree), a 'view all at once' version.

[2018-12-18 16:31] gregglind opened #43 ""what I did before here""
- Searchable
- pull from LinkedIn?
- Supports:  "Who worked at Company X?"

[2018-12-19 10:03] Archaeopteryx opened #44 "Update beta/staging instance at least daily"
Sometimes when I search dinopark, I notice that the entry for a new hire is missing or that a person who has left is still found. On phonebook, those are updated accordingly.
Can you increase the update interval for the data, please? Once a day or more often would be optimal. Thank you.

[2018-12-19 12:14] hmitsch commented on #44
Hi @Archaeopteryx, during the _beta phase_ we rely on manual updates. Sorry for this! We plan to update later this week and will ping here once this is done.

One of our main goals for moving to "fully fledged scope" is to have real-time integration for Staff profile data.

Best regards,
   Henrik

[2018-12-19 22:02] hmitsch commented on #44
We refreshed the data today. Closing this, because we track the proper buildout in separate issues.

-Henrik

[2018-12-19 22:02] #44 closed

[2018-12-20 18:57] mbransn commented on #39
Hi @hmitsch, talked over this with @flekkowich @rfirebaugh -- good to use `Colleagues` in place of `Relations`. We'll also change this in the designs. 👍 cc @hidde

[2018-12-24 10:08] #39 closed

[2019-01-30 16:35] hmitsch opened #45 "Timezone vs. Location"
From a beta user:

[2019-01-30 19:59] janiceahn opened #46 "make profile detail page columns aligned"
The two columns of the top profile area and the more details area below (Colleagues, etc.) aren't aligned. Would be more pleasant/easier to parse through if aligned.

[2019-01-30 20:06] janiceahn opened #47 "show more at top of profile detail page not worth amount of content hidden"
The amount of content beneath the "show more" button at top of profile detail page is minimal and does not justify the button / click required to show it. Suggestion is to surface the content and de-emphasize it if not important, or consider moving to another section.

[2019-01-30 20:15] janiceahn opened #48 "carat and modal for contact me button on profile detail previews & page confusing"
The carat within in the Contact Me button is confusing. Seems like extra work for user to click to reveal and then click again to hide. How many max types of contact might be listed? Could the contact information be exposed?

[2019-02-06 05:24] lime124 opened #49 "photos from phonebook aren't appearing"
it's not clear why the photos from phonebook aren't being pulled in. some people have photos while others (like myself) don't. my photo has been in phone book for a long time.

[2019-02-27 16:32] LucyeoH-zz opened #50 "Search highlight in org chart is very faint"
I was looking at someone's profile on the people directory and then clicked "go to org chart" then it took me a few seconds to notice the highlight and find them again.

I think making the colour a little bit brighter would help a lot!

[2019-03-27 15:47] hmitsch opened #51 "Feature request: Show number of directs for each manager"
From a Discourse comment:

Source: https://discourse.mozilla.org/t/feature-request-show-number-of-directs-for-each-manager/37398

[2019-03-27 17:23] openjck commented on #51
Quick clarification. *Directs* was the wrong word to use. I mean everyone below a person. Chris would have a higher number than Mark, Mark would have a higher number than Dave, etc.

[2019-03-28 20:38] Mozilla-GitHub-Standards opened #52 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 21:57] #52 closed

[2019-04-09 08:08] hmitsch commented on #50
@mbransn what's your thought about this?

For anybody who agrees to this issue, please upvote it (by pressing the thumbs up 👍 above).

[2019-04-09 08:08] hmitsch commented on #51
@fiji-flo is this something we can technically do at all?

[2019-04-09 08:13] hmitsch commented on #49
Closing as WONTFIX. With the new version of DinoPark which will be launched to our beta audience (this includes you @lime124) very, very soon we took a different route:

A longer background story on this can be found in this NDA classified Discourse article: https://discourse.mozilla.org/t/profile-picture-privacy-setting/37908

[2019-04-09 08:13] #49 closed

[2019-04-09 08:15] hmitsch commented on #48
Closing issues as WONTFIX. Our next iteration of DinoPark will include **Edit Mode**. This allows you to select which contact modes to show in the _Contact Me_ button.

<img width="728" alt="image" src="https://user-images.githubusercontent.com/869692/55784201-59de5e00-5ab0-11e9-9c3c-ff16ae0e2cab.png">

<img width="343" alt="image" src="https://user-images.githubusercontent.com/869692/55784225-69f

[2019-04-09 08:15] #48 closed

[2019-04-09 08:24] hmitsch commented on #47
Thanks for this feedback, @janiceahn. With the arrival of _Edit Mode_ the box holds more information. That's the reason for our design decisions. I am pasting some screenshots. You will get an update in the next few days once we are launching this version to our beta audience (which includes you).

## _More Information_ **NOT** Expanded
![image](https://user-images.githubusercontent.com/869692/557

[2019-04-09 08:24] #47 closed

[2019-04-09 08:26] hmitsch commented on #46
@mbransn is this something we want to iterate on before the APR 25 Milestone?

[2019-04-09 08:27] hmitsch commented on #45
This was addressed in the APR08 Milestone (_Edit Mode_).

[2019-04-09 08:27] #45 closed

[2019-04-09 08:36] hmitsch commented on #42
With the arrival of IAM/DinoPark _Edit Mode_ (April 2019) and the availability of the Person API V2, such an application can be built easily now.
API Announcement: https://discourse.mozilla.org/t/iam-cis-person-api-v2-beta-test/37157

Building such a _Face Game_ is not currently in scope for the _IAM Project_, but we will be happy to support anybody who is going to work on it. By the way, Mozilla

[2019-04-09 08:36] #42 closed

[2019-04-09 08:39] hmitsch commented on #43
Thanks for the suggestion. Certainly something worth exploring further down the road. For the moment the best workaround is to edit your `bio` field.

[2019-04-09 08:40] hmitsch commented on #41
Great ideas, thanks a lot. Labeling as "question", because we would have to further explore this. At the moment, this is not on our roadmap.

[2019-04-09 08:43] hmitsch commented on #40
@hidde can you please verify if this behavior is still the same in today's version of DinoPark. If yes, I'd suggest we file a medium priority Jira issue for the APR25 Milestone.

[2019-04-09 08:44] hmitsch commented on #38
This is in scope for our APR25 Milestone. Closing issue here, as we track this in our Jira tickets.

[2019-04-09 08:44] #38 closed

[2019-04-09 08:45] hmitsch commented on #36
This is a great idea, we will keep it on the backlog. If people like this, please upvote the issue by pressing 👍 .

[2019-04-09 08:46] hmitsch commented on #33
For the APR08 Milestone (which will be announced to our beta audience soon), the `bio` field supports markdown, which addresses the issue described above.

[2019-04-09 08:46] #33 closed

[2019-04-09 08:48] hmitsch commented on #32
To anybody who reads this: Please upvote by pressing 👍 , if you want us to work on this.

@mbransn should we think about iterating on this for the APR25 Milestone?

[2019-04-09 08:52] hmitsch commented on #43
Also, you can search for data in the `bio` field with this syntax:
`description:"something"`

We actively decided against adding bio to the fields that are searched by default because that was one of the features people didn't like about phonebook.

[2019-04-09 08:52] #43 closed

[2019-04-09 08:53] hmitsch commented on #51
No technical blocker. So we need to explore the UX implications. @mbransn, do you remember the outcomes from previous conversations on this subject?

[2019-04-09 08:56] hmitsch commented on #29
Fixed in December. Closing issue.

[2019-04-09 08:56] #29 closed

[2019-04-09 12:59] #21 closed, assigned to hidde

[2019-04-09 13:00] hmitsch commented on #9
We did some improvements in December. I think we are done here.

-Henrik

[2019-04-09 13:00] #9 closed

[2019-04-09 15:33] hmitsch commented on #26
Update from @hidde:

We prefer`funTitle` to `businessTitle` if it is set on all components that looks like this (photo + name + title). In that piece of code, we do  `if ( funTitle ) {{ funTitle }} else {{ businessTitle }}` (pseudocode). This is easy to change but it would change eveywehre.

Conclusion: We keep as is. No change unless we see further requests for changing the current behaviour.

[2019-04-09 15:33] #26 closed

[2019-04-09 18:31] tristanweir opened #54 "Username (and Page Title) default to an encoded string"
When I edit my profile, I see the following string in Username:

This is replicated in the page title "r--IapujEjrW_GDRayVlOmPXw== - Profile - Mozilla Directory" (see issue #34)

The same is true for my manager and direct reports, but with different encoded strings

[2019-04-09 22:38] hmitsch commented on #54
Hi @tristanweir, thanks for reporting this issue. You are the first person to hit our _Edit Mode_ alpha version and report an issue. Yay!!

The encoded string you mention is your initial `primary_username`. The `primary_username` has a PUBLIC data classification. For this reason, every new profile gets a random string assigned. You can change it, as you did, and you will see that your profile is n

[2019-04-09 23:19] tristanweir commented on #54
I'd argue it is still strange UX. I might propose the following changes:

1. If a user has not set a username, the username field of the profile Editor should be blank (even if the `primary_username` field is set internally).
2. If a user has not set a username, the page title should just be "Profile - Mozilla Directory" or "Mozillian - Profile - Mozilla Directory".

Overall, while I understand th

[2019-04-10 07:45] hmitsch commented on #54
Hi @tristanweir,

thanks for insisting and making your point much clearer. This is helpful. I am re-opening the issue and will consult @mbransn when she is back from PTO.

Best regards,
   Henrik

[2019-04-10 20:45] gene1wood opened #55 "Bio values no longer render the markup"
Previously text like

[code]

would render like

This is [my link text](https://example.com/foo).

but now it just renders as

This is [https://example.com/foo my link text].

[2019-04-10 20:49] gene1wood commented on #55
Oh, it looks like we're rendering `markdown` (I just happened upon this). We should probably indicate that in the UI somewhere

[2019-04-10 21:06] gene1wood opened #56 "Dinopark name revealed"
Assuming "Dinopark" is the codename for the project and not the name of the site that users should see, we should change the text in the identities section which says

[code]

[2019-04-10 21:10] gene1wood opened #57 "Clicking the Accounts edit icon mis-positions the viewport"
[Here's a video of the problem](https://youtu.be/iW8zFSbofHs).

Clicking the edit icon shouldn't move the viewport away from what needs to be edited.

[2019-04-11 08:47] hmitsch commented on #55
Yes, we will add `info buttons`, to all fields. This is what the design looks like:

<img width="632" alt="image" src="https://user-images.githubusercontent.com/869692/55943570-1c600900-5c47-11e9-95ee-390a26b8907e.png">

Closing issue, as it is in scope for the APR 25 Milestone.

[2019-04-11 08:47] #55 closed

[2019-04-11 08:54] hmitsch commented on #56
Excellent catch!

Filed a PR: https://github.com/mozilla-iam/dino-park-front-end/pull/269

-Henrik

[2019-04-11 08:54] #56 closed

[2019-04-11 08:55] hmitsch commented on #57
@viorelaioia @rleitan do we have a Jira issue for this already?

[2019-04-11 09:38] hmitsch commented on #55
This is the Jira issue which tracks this capability: https://jira.mozilla.com/browse/DP-1017 (As a user I want be able to click on an info icon to view more information)

[2019-04-11 11:20] hmitsch commented on #54
Cross-reference: https://jira.mozilla.com/browse/DP-1223 (sorry, this sits behind _Mozilla IAM_).

[2019-04-11 11:24] hmitsch commented on #57
Issue could be successfully reproduced.

[2019-04-11 11:24] hmitsch commented on #57
Cross-reference: https://jira.mozilla.com/browse/DP-1224 (sorry, this sits behind Mozilla IAM).

[2019-04-11 13:31] gene1wood opened #58 "Should bulk pandoc from wiki markup to markdown for bio field"
The current content of the bio field is encoded in [wiki markup](http://en.wikipedia.org/wiki/Help:Wikitext_examples). (See phonebook that says " Links in wiki markup style supported. " in the bio section)

Dinopark doesn't render wiki markup but does render markdown.

We should do a one time bulk conversion of all bio fields from wiki markup to markdown (e.g. using [pandoc](https://pandoc.org/))

[2019-04-11 13:35] gene1wood opened #59 "Subjective : Visual positioning of pronouns is confusing"
![Selection_036](https://user-images.githubusercontent.com/1134034/55961401-a9916680-5c23-11e9-8fb3-9532bd03698a.png)

The 4 or 5 spaces between the username and pronouns is, to me, visually confusing. Each time I see it, it looks like a sentence initially and then I realize what's going on.

Is there any way to add more differentiation between the username and the pronouns (which I'm assuming hav

[2019-04-11 13:51] hmitsch commented on #58
Hi @gene1wood, thanks for the engagement. This is awesome.

In an ideal world, I agree with you. Our main challenge currently is that we are very short of development capacity. For this reason, I would hold off from investing energy into a conversion.

As we migrate to the new People Directory, we kindly request people to add their profile picture. We did not migrate the photo, because this allows

[2019-04-11 13:52] hmitsch commented on #59
Requesting @hidde to take a look. Do you know if we have a reason for the current positioning?

[2019-04-11 13:55] gene1wood commented on #58
That sounds fine. With the people API though I suspect it's about 5 lines of code to
* iterate over all profiles
  * for each profile read the bio field
  * run pandoc against it to convert to markdown
  * write back to the bio field

[2019-04-11 14:02] hmitsch commented on #54
@tristanweir, by the way, there is a feature we had not mentioned:

Of course, you are right about the page title.

If a user still has their "default username" (e.g. `r--bWRu6ZNvVOu9vpqnLHBwxQ==`), we **hide** the username from the profile card. This way the UI stays clean.

Cool, eh?
Best regards,
   Henrik

[2019-04-11 14:27] hmitsch commented on #58
@gene1wood, if you have time to do it, we would all be thrilled!!

I don't want to approach Florian, kang or Andrew with this at the moment because they are working hard towards "_Edit Mode_ beta audience readiness".

[2019-04-15 07:45] hidde commented on #59
In our most recent designs, we have a separator between username and pronouns, like this:

<img width="244" alt="shows username, a vertical separator and pronouns" src="https://user-images.githubusercontent.com/178782/56114907-7a039680-5f62-11e9-8daf-37bc30e8016a.png">

Filed as[DP-1240](https://jira.mozilla.com/browse/DP-1240),  ready for prioritisation.

[2019-04-15 07:52] hidde commented on #54
I think what this issue really brings up is that our randomly generated usernames are too long and hard to read. We fixed it by hiding them from the profiles, and could do the same for page titles and even the username field (although that adds some complexity).

What if we generated usernames from random words (as Netlify's CI/CD does for URLs it deploys to)? The risk there would be that people c

[2019-04-15 15:54] hmitsch commented on #40
Tagging @mbransn to take a look.

[2019-04-17 21:19] gdestuynder opened #60 "LDAP custom IM names do not show up"
For example if you set an IM (instant message) name for "IRC" it doesnt show up in Dinopark.

In the CIS API these are stored in `usernames.values` such as:

[code]

The format of the value is human input. I suspect DinoPark parses its own format instead? (`XXX: name` such as `IRC: myname`)

[2019-04-17 21:21] gdestuynder opened #61 "LDAP PGP/GPG and SSH keys do not show up"
There were direct reports in Slack of these (PGP, SSH keys from LDAP) not showing up for any user. They're definitely accessible in CIS API so I suspect the feature is not yet implemented, but right now it shows there's no key (and no way to add them)

[2019-04-17 21:29] gdestuynder commented on #54
we definitely ran into the "this is offensive" issue when auto generating passwords a few years back. its not just insults, but some combinations of words can be offensive to some people depending on their background/culture/etc as they can mean different things even.

For usernames at least they only need to be unique, which is nice. I guess we could either:
- ask people when they first login to

[2019-04-17 21:32] gdestuynder commented on #58
if we did do this, we should do it before its available to all staff. otherwise, we should tell people about the possibility to convert manually to markdown at least.

note: its possible to do this with the CIS API directly so PR's/scripts welcome of course ;-)

[2019-04-17 21:34] gdestuynder commented on #61
See also https://discourse.mozilla.org/t/unable-to-add-keys-to-profile/38395 same issue i believe

[2019-04-18 11:35] fiji-flo commented on #57
@gene1wood I was about to tackle this but I cannot reproduce it. Is it still happening for you?

[2019-04-18 11:40] gene1wood commented on #57
Ya, I also can't, I wonder what commit fixed this over the past week

[2019-04-18 22:42] tristanweir opened #62 "Clicking on whitespace left of a dropdown arrow in org chart hides dropdown arrow"
When using the org chart view, clicking on the whitespace to the left of a manager's dropdown arrow hides the dropdown arrow. Clicking anywhere outside that manager's name restores it. This is a minor inconvenience if you happen to misclick when trying to expand a manager's direct reports.

This visual bug also occurs on non-managers (the dot disappears) but the dot provides no interaction so no f

[2019-04-19 15:01] jdow opened #63 "Spelling of "Centre""
When viewing a profile, there is a 'Show More' thing I can click, which reveals some more info. The Cost Center is spelled "Cost Centre", which is not the correct American English spelling.

[2019-04-19 22:54] mbransn commented on #54
As for username generation, is it possible to generate based on their email or another attribute (similar to the Identicon?). If not, ideally the UX would enable a clean field and page title until one is self-attributed by the profile owner.

This makes sense as part of an onboarding flow and is a story I'd love to capture for that future work cc @HerminaC

[2019-04-19 23:13] mbransn commented on #51
Thanks for the loop in @hmitsch -- I don't know that we've discussed specifically outlining the number of reportees next to a managers name in the org chart. That is indeed one solution to the question outlined above, another is already live via search results:

<img width="323" alt="Screen Shot 2019-04-19 at 3 57 34 PM" src="https://user-images.githubusercontent.com/18686986/56447564-e0b7e580-62b

[2019-04-19 23:28] mbransn commented on #32
@hmitsch we do have designs already for UI controls that move between grid (picture only) and list (picture w/name & title) views. These have yet to be implemented and I'm unsure @hidde will get to it before APR 25 -- will let him speak to that.

Screenshots for reference:

<img width="698" alt="Screen Shot 2019-04-19 at 4 26 25 PM" src="https://user-images.githubusercontent.com/18686986/56447918-

[2019-04-19 23:33] mbransn commented on #46
Thanks @hmitsch, this is indeed something we've worked on and are improving with the next release. While still not perfectly aligned, we've gotten closer. @janiceahn pain points are card content padding vs. card sizes below. Happy to jump on a call and pick your brain about it sometime in the near future if you'd like (guerilla critic style!). :)

[2019-04-19 23:39] mbransn commented on #50
Thanks both, I'd like to gather some more feedback with the next release before we make a wide change. I respect what you're highlighting @LucyeoH (pun intended!) and will keep an eye on it as we evolve the style library.

Other potential solutions to mention: make the blue left border more prominent/thicker; move the blue left border to the right side. This is a great thing to test. :)

[2019-04-23 08:26] viorelaioia commented on #62
Hi @tristanweir ! We are tracking the progress of this issue in [DP-1212](https://jira.mozilla.com/browse/DP-1212), will add a comment here when it's fixed.

[2019-04-23 13:32] hidde commented on #63
Hi @jdow, thanks for noticing, I've created a PR to fix and added you as a reviewer.

[2019-04-23 15:53] #63 closed

[2019-04-23 22:31] gdestuynder commented on #54
The problem when basing it on email is that it discloses personal information as the dinopark username is public / used to generate your profile URL - you can always change it to that afterwards though

[2019-04-23 22:35] mbransn commented on #40
@janiceahn thanks for the input. :) @hmitsch @HerminaC a couple of thoughts on way forward:

1. I overall agree that we're missing a piece of functionality here: when one clicks on a closed row that has children, the row should expand AND the profile preview card should be displayed. Alternatively, if one clicks on an already expanded row that has children the row should collapse AND the profile p

[2019-04-25 06:17] viorelaioia commented on #59
This issue is fixed in prod.

[2019-04-25 06:17] #59 closed

[2019-04-25 11:29] hmitsch commented on #40
Handing this over to @HerminaC.
@mbransn thanks for the detailed feedback.

[2019-04-25 16:37] viorelaioia commented on #57
@gene1wood , this issue is fixed in prod.

[2019-04-25 16:37] #57 closed

[2019-04-26 15:45] gene1wood opened #64 "Subjective : "Ping Me" text possibly confusing"
In the "Contact me" drop down the text next to the Slack contact option says

`Ping Me`

Though this is a common phrase used internally in Mozilla, I'm unsure if the general public and Mozillians in general know that this means "Chat with me". I think our use of "ping" in Mozilla and possibly more broadly in technical fields derives from the [ping network utility](https://en.wikipedia.org/wiki/Pin

[2019-04-26 15:55] gene1wood opened #65 "Public field data not really public"
This may be an artifact of Dinopark being in beta and this naturally gets fixed when we enter general availability (which if that's the case close/ignore this issue).

If I set a field in my profile as public and then browse to my profile URL from another browser that I'm not logged into Auth0 on (e.g. https://people.mozilla.org/p/gene ) I'm redirected to an Auth0 login and have to login to contin

[2019-04-26 15:57] hmitsch commented on #65
Hi @gene1wood,

**Spot on!** Indeed, we will add public landing pages, as we exit the beta phase and enter into a phase where DinoPark will become _publicly accessible_.

-Henrik

[2019-04-26 15:57] #65 closed

[2019-04-26 16:01] alanmoo opened #66 "At first login, identicon was not clearly the place to go for profile updates"
Low priority, I'm sure, but I feel like I should give this feedback:

When I first logged in, I was trying to figure out where to go in order to update my profile, as suggested in the email that went out to beta users. The purpose of the org chart button nor the identicon I was given were immediately obvious, I only guessed out that the identicon was to get to my profile by its placement and trial

[2019-04-26 16:03] gene1wood opened #67 "Search to permissive and doing some kind of bayesian or fuzzy match"
# Fuzzy match

When I [search for "kang"](https://people.mozilla.org/s?query=kang&who=staff) I get 9 results

Looking in the profiles of the results other than Guillaume's, none of them have the string "kang" in them. Looking at the names though it looks like it's matching every user with a last name ending in "ang" as well as April who's last name is "King".

Is this intentional? This feels too b

[2019-04-26 16:08] jgmize opened #68 "Unable to add profile picture"
When attempting to add a profile picture, I get the a message "a problem has occurred, please try again later". I copied the relevant request and response from the network panel in dev tools below, after verifying that there isn't any data I mind having in a public issue.

- POST

- Response

[2019-04-26 16:28] gene1wood opened #69 "Add pointer to source or unminified app.js in app.js"
In the interest of
* being more open
* enabling users to interact with dinopark not only as passive consumers and support web literacy
* conform more tightly to [our own recommendations](https://developer.mozilla.org/en-US/docs/Learn/Accessibility/CSS_and_JavaScript#The_problem_with_too_much_JavaScript)

I think we should add some pointers for users looking at our site to help deobfuscate the site

[2019-04-26 16:31] gene1wood opened #70 "Pagination in search results missing"
If you search for a search term (e.g. `t`) that returns over 100 results, the page
* indicates the total number of results
* shows the first 100
* doesn't indicate that the remaining results weren't shown
* doesn't give a pagination option

We should probably at the bottom indicate either that we've truncated the results or give the user the ability to page through the results or indicate we've tr

[2019-04-26 16:32] mbransn commented on #64
Hmm, this escaped my attention and I do agree.

@HerminaC ideally these would be labeled as what they are: 'Email' 'Slack' 'Phone' No need IMO to keep up the 'Contact Me' CTA context in the dropdown itself.

cc @hidde @hmitsch

[2019-04-26 16:52] gene1wood opened #71 "Make text selection work well"
Tweak some page html structure to better accommodate selecting text

# Full name

The user's fullname is coded like

[code]

with carriage returns which results in a leading and trailing space when selecting the user's name. Those carriage returns should be removed (and maybe also that empty HTML comment, not sure what that's about, maybe doesn't matter) so that the `h1` element tags abut the name

[2019-04-26 16:57] Phrozyn commented on #68
I want to add to this. I was able to upload a profile picture the first time, but then deleted it and went to add a new one and all subsequent attempts result in no functionality. The window that opened before to allow me to pick a photo is no longer opening.

Loading failed for the <script> with source “https://www.googletagmanager.com/gtm.js?id=GTM-5GCB5DL”. e:1:1
Content Security Policy: The pa

[2019-04-26 17:11] hmitsch commented on #67
Hi @gene1wood, some of your points are answered here: https://discourse.mozilla.org/t/dinopark-search-example-queries/33653

I hope @fiji-flo can take a look at your feedback and give a more technically accurate answer than I possibly could.

[2019-04-26 17:19] gene1wood opened #72 "Verify that default display setting for primary email address is set to staff"
Currently I'm able to view primary email addresses for contributors in Dinopark which I'm unable to see in either phonebook or mozillians.org. Examples

* https://people.mozilla.org/p/r--AY4uJFt_WaekHJaAjUYLTg==
* https://people.mozilla.org/p/r--n6J7dd_hXqm-7Go1u8nlSA==

I would assume that this might be surprising to these users that their email address was viewable now though it wasn't in the pa

[2019-04-26 17:26] gene1wood commented on #67
Excellent. So it looks like the single character off fuzzy search is intentional. I'd put a minor vote in to reconsider this at some point and either
* disable the fuzzy match
* order search results which have exact matches ahead of fuzzy matches (as Google search does) since currently searching for "kang" shows 8 bad fuzzy results followed by one strict result

I'd be curious @fiji-flo 's thought

[2019-04-26 17:34] hmitsch commented on #72
@gdestuynder what's your thinking of this? @gene1wood refers to the Contributor LDAP accounts which are treated by our import in the same way as Staff LDAP accounts and therefore get "minimum visbility" set to `Staff only`.

[2019-04-26 17:34] hmitsch commented on #66
Pinging @mbransn on this for visbility.

[2019-04-26 17:40] mbransn commented on #66
Thanks @hmitsch -- @alanmoo this is great feedback and the type of wayfinding we're 'testing' with this beta. Agreed that a title attribute would be very helpful, @hidde is this something we've considered? esp from an accessibility perspective?

As for these button uses not being immediately obvious, a bit of trial/error is expected as new mental models are formed. A bit of onboarding could be hel

[2019-04-26 18:09] gdestuynder commented on #72
we can accommodate defaults for this (ie these can be set differently), but i think i'd ask someone like Lucy or Catlee about it - since these are special contributor accounts which used to be created for their staff-like properties.

Note that in this case its email and name(s) that are default to "staff" `display` not just email.

[2019-04-26 18:48] fiji-flo commented on #68
@jgmize  debugging. I'll keep going for bit but I really need a weekend. Top on my list for Monday.
@Phrozyn could you specify this a little bit more? I hope this goes away after a reload (not that this must not happen at all, but it would calm my mind). Could tell me what browser / version?

scares me a little bit. What log is that?

[2019-04-26 19:10] hmitsch commented on #68
Input for @fiji-flo: The Google Tag Manager ID `GTM-5GCB5DL` is the one we used on people.allizom.community. As far as I know, there is no Google tracking on people.mozilla.org, right?

[2019-04-26 19:23] fiji-flo commented on #68
We block GA via CSP. Removing it now.

@jgmize I found your issue. Your imported data from LDAP corrupted your profile. That's a bug in https://github.com/mozilla-iam/cis we're aware of this but we had workarounds for all other form of broken profiles in place. Sorry for that. We're on it.

[2019-04-26 20:26] cshields opened #73 "404 /~ requests"
the new phonebook is setup to take the place of an old shell/webserver we used to run, people.mozilla.org[com].  That webserver had years of content which became dead links when we decommissioned the service, but that doesn't mean those links went away.

Now - when someone follows one of those links they try an SSO auth and are met with an error that says "Sorry, you do not have permission to acce

[2019-04-26 20:53] Phrozyn commented on #68
That is the browser console log using web developer tools when I attempted to add a new image. A reload did not work. I'm using Firefox 66.0.3 64bit

[2019-04-26 23:44] openjck opened #74 "Pronunciation guide"
Some names are hard to pronounce. Have a go at mine. 😆

I'd love if Dinopark had an optional *pronunciation* field which we could use to explain how our names are pronounced. Facebook has this feature and it's pretty great. A Facebook user can provide a phonetic spelling of their name and Facebook will use text-to-speech to robotically speak it out loud when the *play* button is pressed

<img widt

[2019-04-26 23:45] openjck commented on #74
This would be great for handles too. Everyone pronounces my handle as *open Jack* even though I imagine it as *open J-C-K*.

[2019-04-28 17:00] flaki opened #75 "Timezone updates"
Hi! Just checked the latest beta and love the ability to set a _"my timezone"_ which could be super helpful with the additional real-time clock on the profile page, big kudos!

I filled this in with my "default" timezone (which is Tallinn/Eastern European Time), but since I travel quite a bit it will almost always be inaccurate in judging my expected availability. Now I understand this is not a pr

[2019-04-29 02:58] globau opened #76 "bio markdown editor should have a preview"
the bio markdown editor needs a preview, so you can verify changes without publishing.

[2019-04-29 03:00] globau opened #77 "'other' field not migration from current phonebook"
my 'i work on' field was migrated from the phonebook, however my 'other' field which contained other useful information was not.

perhaps the 'bio' field should initially contain the contents of both phonebook fields?

[2019-04-29 03:05] globau opened #78 "'alternative name' is not included in search fields"
steps to reproduce:
* add an alternative name to your profile, ensuring this name doesn't appear elsewhere in your profile
* search for this name

expected:
* your profile should be returned when searching for it

actual:
* profile not returned

[2019-04-29 08:40] hmitsch commented on #64
Jira copy at https://jira.mozilla.com/browse/DP-1290 (Sorry, access restricted)

[2019-04-29 08:41] hmitsch commented on #66
Jira copy at https://jira.mozilla.com/browse/DP-1291 (sorry, access restricted)

[2019-04-29 08:59] HerminaC commented on #64
(Don't worry, Henrik, replying here as well)

Thanks Gene, I do think this is subjective. 'Ping me' is broadly used inside/outside Mozilla.
The way it is currently displayed under 'Contact me' in DP (Ping me 'usename' on Slack) also seems self explanatory to me. For the time being I wouldn't change it, I am happy to reconsider though in case we'll get more feedback like this.

[2019-04-29 09:34] HerminaC commented on #66
Hey @alanmoo,

Thx for this. Would having the editing pencil on the identicon have helped you?  Something like this:
<img width="145" alt="Screen Shot 2019-04-29 at 11 30 19 AM" src="https://user-images.githubusercontent.com/7406447/56887572-451f3580-6a72-11e9-8eef-431537752597.png">

Hermina

[2019-04-29 11:36] hmitsch commented on #73
Mirrored in https://jira.mozilla.com/browse/DP-1292 (sorry for the auth wall).

[2019-04-29 12:17] fiji-flo commented on #73
Thanks for this we'll return a 404 for the `/~` prefix. Maybe we can revive docroots at some point :see_no_evil:

[2019-04-29 13:05] fiji-flo commented on #73
https://people.mozilla.org/~fiji → 404

Please ping us if you see more emails. We still show the error page for / without authentication. We're talking about potentially having a landing page for that.

[2019-04-29 13:05] #73 closed

[2019-04-29 13:13] alanmoo commented on #66
Yeah, I think it may have.

[2019-04-29 13:29] hidde commented on #66
@mbransn To give a bit of insight in the accessibility treatment of the user menu: the avatar that opens the user menu (technically a _button_) does have an [accessible name](https://hiddedevries.nl/en/blog/2019-04-18-naming-things-to-improve-accessibility) (a text that describes it): _Open user menu_ (when opened, _Close user menu_). People with screenreaders will hear that when they get to the b

[2019-04-29 18:54] gene1wood opened #79 "Clicking back from non highlighted org user takes you to the root of the org view"
1. Browse to https://people.mozilla.org/
2. Search for "henrik"
3. Click the org icon to the right of Henrik Mitsch and you're taken to https://people.mozilla.org/o/highlight/hmitsch
4. Click "View full profile" and you're taken to https://people.mozilla.org/p/hmitsch
5. Click back and you're taken back to the org view with Henrik highlighted and visible in the viewport
6. Click Viorela Ioia and y

[2019-04-29 20:17] hmitsch commented on #79
Nice edge case! Paging @fiji-flo to hear his opinion on this issue. :-)

[2019-04-30 00:22] mbransn commented on #66
Hi y'all, thanks for the feedback & discussion. If it's strongly felt that we need a 'quick' change on this, I'd recommend an update to the menu (see below) and a simplified tooltip addition as @hidde mentioned.

![menu-alt](https://user-images.githubusercontent.com/18686986/56935003-60eeff80-6aa3-11e9-9fb0-1fc12a405d09.png)

This current menu method was chosen as it optimizes the impact of the me

[2019-05-01 03:35] globau opened #80 "add bugzilla.mozilla.org as an account"
I see that I can add "Mozilla Slack" and "IRC", but not "bugzilla.mozilla.org".
Having BMO in the mix would be _super_ useful.

If added please be aware that developers interact with multiple Bugzilla installations, so the account for our install should be identified as Mozilla's.

[2019-05-01 03:38] globau opened #81 "IRC account not identified as "Mozilla""
After adding an IRC account it appears in an `Elsewhere` box.  This confusing and possibly incorrect.

There are multiple IRC networks, and as it happens I use a different name on irc.mozilla.org than others (such as freenode).  I'm expecting the IRC account on my people account should refer to my nick on irc.mozilla.org, however after adding it I see that's it's listed not as part of Mozilla, rat

[2019-05-01 03:45] globau commented on #78
as an example, at mozilla i go by `glob`, so i've set that as my first name in my profile.  while i'll answer to my legal name, `glob` is my preferred name.

however as i want people to be able to find me by my real name - byron - i have that as my "alternative name".

the problem is https://people.mozilla.org/s?query=byron&who=staff doesn't return my profile.

[2019-05-01 13:52] hmitsch commented on #78
Hi @globau,

thanks for checking in. The **alternate name** is currently not in the _default search_. You can access it, via ElasticSearch query syntax:

`alternativeName:byron`

This returns your profile.

At some point in the future, we will build "filters" (aka "search controls"), to make these search queries more accessible. Depending on the feedback we get, we might also add _alternate name_

[2019-05-01 13:53] hmitsch commented on #81
@mbransn what's your thinking about this?

[2019-05-01 13:57] hmitsch commented on #80
Hi again,

totally agree and thanks for this improvement suggestion.

For systems such as Github and Bugzilla we think of them as "identities" rather than "accounts". The main reason being that we need verified links for these systems. This will allow us to provide verified identities for LDAP, Github, Bugzilla (and maybe others) via the Profile API. Very useful to triangulate users in Phabricator

[2019-05-01 14:29] globau commented on #78
thanks for the response.

i'm not in a position to tell people who don't know how to contact me how to perform a custom search on phonebook if they only know my legal, and not preferred name.

please consider this a strong vote for this change.

[2019-05-01 14:52] globau opened #82 "When viewing someone else's profile without accounts, the "no accounts" message refers to "you""
When viewing someone else's profile without accounts the following is displayed:

The "You" in this context doesn't make sense; I can't add accounts to anyone else's profile.

Perhaps that section shouldn't be visible when viewing someone else's profile if it's empty?

[2019-05-01 14:57] globau opened #83 "Javascript error when searching with empty query: `TypeError: "this.searchQuery is undefined"`"
performing a search when `#search-query` is empty results in following javascript error:

[code]

[2019-05-01 15:44] globau commented on #80
that's a shame, because the BMO email address is present on the current phonebook; losing it is likely to be problematic.

[2019-05-01 15:47] smacleod commented on #78
I was also extremely surprised by this, I also would strongly encourage making this the default.

[2019-05-01 16:19] hmitsch commented on #78
@fiji-flo, how hard would it be to add _alternate name_ to the default search scope?

/cc @HerminaC

[2019-05-01 16:20] hmitsch commented on #80
CC'ing in @HerminaC. We probably just identified a scope gap on the path to our _Phonebook Replacement_ milestone.

[2019-05-01 16:21] hmitsch commented on #83
Nice catch, thank you!
/cc @fiji-flo

[2019-05-01 16:22] hmitsch commented on #83
Also cc @viorelaioia @rleitan 😄

[2019-05-06 10:14] fiji-flo commented on #83
resolved in https://github.com/mozilla-iam/dino-park-front-end/pull/313

Thanks for reporting.

[2019-05-06 10:14] #83 closed

[2019-05-06 10:14] fiji-flo commented on #83
Will be deployed within the hour.

[2019-05-06 18:08] openjck opened #84 "Bios not considered in search results"
I mention in my bio that I know some ASL (American Sign Language) because I'd love to meet d/Deaf and hard-of-hearing Mozillians. Unfortunately, searching for *ASL* does not bring up my profile. This makes it harder for people with similar interests or backgrounds to find each other.

[2019-05-07 06:57] fiji-flo commented on #67
@gene1wood While working on another feature I did a minor tweak to boost exact matches. It's currently on test: https://dinopark.k8s.test.sso.allizom.org/s?query=kang&who=staff

[2019-05-07 13:50] gene1wood commented on #67
@fiji-flo cool, thank you. Is it possible to also boost exact matches with word boundaries over those without? For example [searching for "gene"](https://dinopark.k8s.test.sso.allizom.org/s?query=gene&who=staff) matches `Meme Generator` before it matches `Gene Wood`

[2019-05-09 14:05] hmitsch commented on #84
You can search for `ASL` in the **bio** with this syntax:
`description:asl`

We will add search UI controls in the future. This will hopefully make things easier. We will also add tags which would be a great fit for your use case.

[2019-05-09 18:13] openjck commented on #84
Neat. Thanks for that suggestion!

Has the team considered matching bio content by default? I think the old Phonebook does that and it can be useful.

[2019-05-10 00:38] mbransn commented on #64
Hi all FWIW the original design did not include any labels in order to keep the dropdown light and less cumbersome -- [possible to get back to that](https://overflow.io/s/3YX3BV/?node=c80656f1)?

![contact-me-design](https://user-images.githubusercontent.com/18686986/57495065-2fcfb580-7281-11e9-85ec-e00181561165.png)

@HerminaC

[2019-05-10 17:28] luciusbono opened #85 "Last Modified Date"
It would be extremely useful to have a last modified date for users profiles, or even better a last modified date for certain pieces of information.

Reason: there are instances where users may need to quickly verify each other's identity quickly via an out-of-band system. I could call or text the number listed in a user's profile, but what if that number was maliciously changed? A date stamp does

[2019-05-10 20:04] hmitsch commented on #85
Hi @luciusbono,

thanks for checking in. I will defer to @gdestuynder, hoping that he has a good answer for you.

I do know that the API request we make has two fields you might be interested in:
* `last_modified`
* `created`

However, we chose **not** to make this data visible in the people directory as we do (did) not think it would be of much help. Depending on where this thread is going, we mi

[2019-05-10 21:37] hmitsch commented on #84
Ha, excellent question!

Indeed, we spent a lot of time thinking about this decision. It was part of the UX research phase we did before the implementation. One of the insights we gained was that people are confused/annoyed/irritated by the full-text full-profile search currently implemented on Phonebook. That's why the new people directory takes a narrower default search scope and allows for sear

[2019-05-10 21:44] openjck commented on #84
Gotcha. Great! I'll always defer to whichever decision was reached with the best evidence. I'll close this issue, then. I'm looking forward to the UI. :smiley:

[2019-05-10 21:44] #84 closed

[2019-05-11 00:46] gdestuynder commented on #85
@luciusbono The CIS API contains the last modified information as per Henrik's msg. This data is available to Infosec but not viewers of DinoPark. If DinoPark would like to show this data, they could, though they might want to expose it a different way such as "/!\ This phone number was last modified more than a year ago" or to prompt users to update their data from time to time for example.

[2019-05-11 18:03] luciusbono commented on #85
It's useful to know that Infosec had access to modification dates, and
maybe I'm running too far with this idea, but it does seem like Dinopark
could be a really helpful tool for helping users do quick out of band IDV.

I was walking through a phishing mitigation training the other day and one
of the main defenses that it suggested users had against spearphishing
attacks ("the CEO needs you to wir

[2019-05-14 09:47] hidde commented on #82
Hello @globau , thanks for filing this! We're [updating this copy](https://github.com/mozilla-iam/dino-park-front-end/pull/332) to become:

This should make more sense.

Thanks also for your suggestion. The reason we currently display display the empty ‘No Accounts’ section, as opposed to no section at all, is continuity between profiles.

cc @mbransn for visibility

[2019-05-18 20:32] hidde commented on #64
This is now updated to match the original designs, so that we have just icons and accounts (, phone numbers, email addresses, etc). The update is deployed to our dev and test environments.

[2019-05-24 22:53] jofish commented on #32
Can I strongly vote for fixing this? And this is pretty key to what people need to do -- I don't see much value in having the picture only/grid version. It should at very least default to the list-with-name-and-pic verison. @mbransn. Thanks!

[2019-05-27 12:55] hidde commented on #32
Thanks @jofish for your feedback. Just to give a status update, the list view is implemented and almost ready to go, it should land in the beta soon.

@mbransn any thoughts on making the list view default vs grid as default?

[2019-05-28 22:07] mbransn commented on #32
Agreed this is important @jofish, thanks for checking in -- as @hidde mentioned this is indeed going to production very soon.

Regarding default view being `grid` vs. `list`: `grid` has been chosen as it takes up less vertical space for initial profile page discovery, esp on smaller devices. That said, the toggle back and forth will be persistent for a session (e.g. it will 'remember' if you've to

[2019-05-29 12:15] mozfreddyb opened #87 "SyntaxError JSON.parse unexpected character"
This might be due to my pronouns or my location containing stuff like `";//><s>`

[2019-05-29 12:16] mozfreddyb commented on #87
probably not due to those characters. I get the warning all the time

[2019-05-29 12:25] #32 closed

[2019-05-29 21:48] mbransn commented on #81
@globau I do agree with you on this (apologies for delayed reply!). At the least this first implementation should support that IRC is 'Mozilla IRC'. In the future we'd like to enable people to enter other accounts, including unique prefixes for IRC, Slack, etc. The timeline for this isn't quite clear to me yet, @fiji-flo do you have any insight? And @hidde is it possible to prefix IRC with Mozilla

[2019-05-29 23:16] mbransn commented on #64
@hidde I've noticed that the email icon is an `@` rather than an [mail icon](https://zpl.io/29wPORd) and the phone icon uses an additional arrow version rather than just the [phone](https://zpl.io/VKD1L1A). Can you update both of those to match the icons in the screenshot above? Slack and IRC icons are correct though! :)

[2019-06-03 21:48] kwillowhawk opened #88 "Firefox Night Mode makes the Search icon into an easter egg (e.g. invisible!)"
I was needing to lookup a Mozillian while in a Zoom on my iPad, so I trucked out the mobile phone running our internal Firefox on iOS build 17.3, sporting "Night Mode" enabled (think Dark Mode but more CSS fiddly).  To my dismay I could not find a way to search for a person.  There was no search field or button or function anywhere.  Turns out that it's there and happily clickable but with Night M

[2019-06-04 10:50] HerminaC commented on #88
Hey,

Thanks a lot for sending this! We're looking into it. Will comment here with updates.

[2019-06-07 08:44] hidde commented on #64
No problem, I have added an issue in Jira for this (DP-1362)

[2019-06-07 08:46] hidde commented on #81
Do we potentially have a use case for people who want to add their IRC that is _not_ Mozilla IRC, ie contributors? If we change 'IRC' to 'Mozilla IRC' without having 'Freenode IRC', we would no cease to facilitate those people's needs?

[2019-06-10 05:21] globau commented on #81
Yes - especially after the Mozilla IRC network is shutdown.

Keep in mind there's more than just two IRC networks, and it's possible to have different usernames on each of them.  It might be a slippery slope to start supporting all of them.

As my primary concern with this issue is the current IRC network, which is most likely to be expected to be a reference to _our_ IRC network, is not external/

[2019-06-11 18:27] gene1wood opened #89 "GitHub identity not shown in edit UI after linking"
# Steps to reproduce

* In your dinopark account, link your GitHub account
* Visit your profile page

# Expected results

Like my linked Bugzilla account, which shows my Bugzilla identity (my bugzilla email), I would expect my linked GitHub account to show my GitHub identity (my GitHub username)

# Actual results

The GitHub identity box is empty

![Selection_067](https://user-images.githubusercon

[2019-06-11 18:28] gene1wood opened #90 "UI says to add/remove email via identities. Identities doesn't add/remove email"
In the email edit UI the UI says "Add / Remove Email via Identities"

![Selection_065](https://user-images.githubusercontent.com/1134034/59296963-02897500-8c3c-11e9-8528-18fc0dbcfcbb.png)

The identities pane however has nothing related to emails

![Selection_067](https://user-images.githubusercontent.com/1134034/59296992-11702780-8c3c-11e9-974a-1faf729524f4.png)

[2019-06-11 18:39] gene1wood commented on #89
After about 10 minutes I noticed it started showing up

![Selection_068](https://user-images.githubusercontent.com/1134034/59297597-6f513f00-8c3d-11e9-9c5a-085fa2dac921.png)

How weird. I this some kind of CIS latency thing? Are other types of changes to one's profile delayed by this much sometimes?

Or did someone see this bug report and manually do something on the backend in the last 10 minutes

[2019-06-11 19:40] april commented on #90
I would also love to change my email address from the official LDAP version.  :)

[2019-06-12 11:08] hidde commented on #81
Thanks, @globau.

Just to keep you posted, we are addressing this in a nearby release, I've just PR'ed a fix. Thanks again for your feedback!

[2019-06-12 12:11] #81 closed

[2019-06-19 22:32] the-smooth-operator opened #91 ""Contact Me" opens dialog outside of the view zone"
Steps to reproduce:
In a small display: open the orgchart, click in a name, a new card will come to the front, click on "Contact Me", a new dialog will appear in the left and is not possible to see it.
![contact-me](https://user-images.githubusercontent.com/9251788/59805888-e1d3b600-92f2-11e9-8795-ec766f11682b.png)

[2019-06-20 18:58] april opened #92 "Add Firefox Accounts to the list of possible identities"
It would be extremely useful from a security perspective to be able to tie an employee LDAP account to a Firefox Accounts account, which is used for identification by a bunch of Cloud Services software such as AMO.

cc: @jvehent

[2019-07-01 16:41] mkaply opened #93 "My profile doesn't show any Colleagues"
When I go to my profile, I have no colleagues :)

[2019-07-01 16:43] smaug---- opened #94 "Not possible to change primary email address to another @mozilla.com address"
(see the title)

[2019-07-01 16:53] past opened #95 "Can't add p.m.o as a search engine"
Using the page actions menu -> Add Search Engine to add the open search plugin for people.mozilla.org results in an "Invalid format" error dialog.

[2019-07-01 16:54] smaug---- opened #96 "Only one IRC account possible"
I have different IRC nick on moznet and freenode (because the name was already taken on freenode when I created it).

[2019-07-01 16:55] flekkowich opened #97 "Small Avatar profile picture looks grainy"
Firefox Nightly 69.0a1 (2019-06-27) (64-bit)
Mac OS 10.14.4 (18E226)

Avatar in top right corner looks very grainy, but profile pic in full profile view looks fine.

[2019-07-01 17:01] floatingatoll commented on #97
My profile pic in the top right corner looks blurry, as if it was resized twice. It's at /avatar/get/id/...?size=40 and the HTML source indicates that we're not offering a high-DPI alternative image. Maybe it was probably resized once (down from my large pic) and then up by 2x (lo-DPI image on hi-DPI display)?

```<img alt="" role="presentation" aria-hidden="true" src="/avatar/get/id/hashhashhashh

[2019-07-01 17:04] floatingatoll opened #98 ""let us know" links differ between topbar and main page text"
The topbar of p.m.o homepage says "let us know what you think", and links to filing a new issue in this GitHub.

The lower left of p.m.o homepage says "let us know how we can make the Mozilla Directory even better", and the footer says "Helpdesk"; both link to the Discourse forum (see also #102).

Which is correct?

[2019-07-01 17:09] tdsmith opened #99 "Phone number tags aren't expressive enough"
I would like to be able to add a free-text explanation for each of my phone numbers, since I have a few of them and the right one to use depends on where you are and which service you're trying to use to reach me.

ex:
* (555) 555-1212 (US; Signal, Whatsapp)
* (604) 123-4567 (Canada)

You could approach this by adding "Signal" and "Whatsapp" etc tags to the current tag list, but I'd rather just ha

[2019-07-01 17:10] floatingatoll opened #100 "Please add the SameSite attribute to cookies"
After clearing legacy GA cookies from the previous people.m.o, I found that the three cookies set by p.m.o are not currently including the SameSite cookie attribute. Please do so unless there is a specific reason not to:

`kc-access`, `OAuth_Token_Request_State`, `request_uri`

[2019-07-01 17:12] flodolo commented on #93
I wonder if the design, or the naming, is misleading here.

If I look at my manager, I see he has two rows: "Reports to" and "Manages". I only have a "Reports to" line.

The confusion is that "Colleagues" should also include my teammates, but they don't show up here (would they need a "Other team members" row?).

[2019-07-01 17:14] floatingatoll opened #101 "Mousing over the search button in the topbar removes the blue highlight border"
Steps to reproduce:

1. Fresh load the page, ensure that the cursor is _not_ currently inside the search box.
2. Mouseover the search box input text area. Observe a blue border fade in.
3. Mouseover the search box search button. Observe the blue border fade out.

The border should not fade out in this scenario.

<img width="446" alt="Screen Shot 2019-07-01 at 10 12 42" src="https://user-images.git

[2019-07-01 17:16] floatingatoll opened #102 "Helpdesk link in footer is broken"
https://discourse.mozilla.org/c/iam/dinopark as linked in the footer under "Helpdesk" is not accessible when I click while logged in at p.m.o.

[2019-07-01 17:21] floatingatoll opened #103 "Org tree is missing a Legend explaining what "[S]" means"
In the bottom right corner of every face icon in the org tree (as far as I can tell), every person has an [S] icon overlaid on top of their image. Nowhere on this page is there a Legend explaining this icon, and it doesn't react to a mouseover with a helpful indication of what it means. What does it mean?

[2019-07-01 17:22] floatingatoll opened #104 "Staff indicator changes position when moving from org tree to profile view"
In the org tree view of a single person's card, the [Staff] banner with rounded corners is in the lower right corner of their profile pic.

When viewing their full profile, the [Staff] banner moves to the lower middle of their profile pic.

Please move the full profile banner to the lower right corner to maintain continuity of positioning across all three places this [S] / [Staff] banner are used.

[2019-07-01 17:26] floatingatoll opened #105 "Changing cards in the org tree results in the wrong face being shown momentarily"
Steps to reproduce:

1. Clear your cache
2. Go to the p.m.o org tree
3. Select one card and observe that the userpic takes a moment to load.
4. Select another card and observe that the _previous_ userpic is displayed until the _new_ userpic finishes loading.

Whatever method is being used to lazy-load the userpic image is inappropriate in this unique circumstance, as we should never — even for a s

[2019-07-01 17:30] floatingatoll opened #106 "Mousing over the bullet next to non-manager staff dehighlights their org tree row"
Steps to reproduce:

1. Mouseover a manager's name in org tree. Observe that their row in the org tree highlights cyan.
2. Mouseover a non-manager's name. Behavior is the same as above.

3. Mouseover the arrow to the left of a manager's name. Observe that their row in the org tree highlights cyan.
4. Mouseover a non-manager's name. Their row unexpectedly de-highlights. [RETRACTED]

Please ensure t

[2019-07-01 17:30] floatingatoll commented on #106
No, I'm wrong. It de-highlights in both cases. I had something paused, apologies. Closing as the behavior is consistent in both cases — but feel free to reopen if it's both consistent and undesired.

[2019-07-01 17:30] #106 closed, assigned to nobody

[2019-07-01 17:34] floatingatoll opened #107 "The name shown for a certain department does not match the name shown on that user's profile."
The department "Internet Health Report (firstname lastname)" lists a different value of `firstname` than the profile of the person whose name matches `lastname` and heads the department.

Please work with this user to ensure that their Workday Preferred Name and the instance of their name included in the IHR department title are aligned to the same value.

[2019-07-01 17:35] jaredhirsch opened #108 "Add PTO indicator"
As an employee, I'd like to be able to tell if another employee outside my immediate team is on PTO.

Right now, there's no good way to determine if someone not in your immediate team is out of office. Some people/teams use a Slack indicator, or a calendar (often PTO calendars are team-private). Would be nice to have a consistent and easy way to check if someone is available on a given day.

[2019-07-01 17:37] floatingatoll opened #109 "Colleagues shown on a detailed profile do not have a mouseover highlight/underscore"
Most/all links on this site have a mouseover highlight or underscore. However, the links to individual colleagues shown on any detailed profile upon mouseover have neither the cyan background highlight used in org tree, nor any color change indicating that they're a link, nor any underscore / bottom-border as used in the leftnav.

Please ensure that these links receive some sort of mouseover highl

[2019-07-01 17:39] floatingatoll opened #110 "Desk numbers are not linked to the office desk location maps on Mana"
When viewing the profiles of office users, I see that some have a desk number assigned (BER1234, SFO2345). Please make these desk numbers link to a map of the office on Mana.

[2019-07-01 17:40] floatingatoll opened #111 "Cost centers are digits only, with no way to see the full description"
When viewing full user profiles, the cost center is listed as numeric-only, which is generally fine. However, if I want to see the description of that numeric cost center, there is currently no way to do so. I would appreciate it if mousing-over the cost center digits offered the title of that cost center, though I understand this may not be of wider interest.

[2019-07-01 17:41] floatingatoll opened #112 "Colleagues does not include other members of my team"
My Colleagues list currently shows only my manager, but not any of the other ~ten people in my team. Are they intentionally absent?

[2019-07-01 17:43] pdehaan opened #113 "Unable to verify Bugzilla as an identity"
Unable to verify Bugzilla as an identity, it gives me the following error in devtools console:

![Server_error](https://user-images.githubusercontent.com/557895/60456626-91136580-9bee-11e9-81a8-39c579252d7f.png)

[2019-07-01 17:46] floatingatoll opened #114 "Profile page scrolls to top and back every time an Edit button is clicked"
Steps to reproduce:

1. Visit your own profile page.
2. Scroll down to the the last section and click the edit icon.
3. Observe that the page resets the scroll location to the top of the page and then scrolls down to the clicked edit icon.

This is visually disruptive and makes it difficult to tell where the edit icon I clicked went. Please scroll from the current position to the desired position

[2019-07-01 17:48] floatingatoll opened #115 "Please change the default Accounts selection to Slack"
For staff accounts, the primary communication method is Slack. Currently, when adding new Accounts to my profile, the selector defaults to Mozilla Discourse. While I understand that Discourse use may be encouraged, this is inappropriate for staff as we require Slack usage, but merely desire Discourse usage. Please update this dropdown accordingly.

[2019-07-01 17:50] floatingatoll opened #116 "The list/grid icons in my Colleagues profile section do nothing"
When viewing my list of Colleagues, the list/grid icons have no effect on the view's layout.

[2019-07-01 17:52] floatingatoll opened #117 "Please add a hyperlink to the Slack profile icon in the Contact dropdown"
When viewing a profile, selecting Contact Me shows a dropdown containing my Email (hyperlinked) and my Slack (not hyperlinked).

Please add the missing Slack hyperlink to this instance of my Slack profile name.

https://get.slack.help/hc/en-us/articles/360003827751-Create-a-link-to-a-member-s-profile-

[2019-07-01 17:56] floatingatoll opened #118 "Slack profile should use connected accounts, not freetext entry"
To fix #117 (and resolve #115), we will need to know a user's Slack workspace and unique ID in order to construct a link to their profile. Allowing users to freetext-enter their Slack Name leads to confusion (when two users share the same Name, which is true in our Slack).

Please replace the freetext entry of Slack names with an account-verification method that draws an appropriate and unique lin

[2019-07-01 18:00] floatingatoll opened #119 "When adding phone numbers, please require me to select country code independent of the phone number"
This ensures that we can construct valid dialing URLs for international use, and that users do not unintentionally include non-portable dialing prefixes that are not country codes.

For example, in my profile, my phone number is listed as "1234567890", which is insufficient; it should have Country Code +1 (USA) selected — but if I enter "+011" into the field myself, because I'm human and mistaken,

[2019-07-01 18:02] floatingatoll commented on #89
I noticed this as well; it's been at least 10 minutes since I linked it, and it shows GitHub Verified but no username.

[2019-07-01 18:19] agashlin opened #120 "Log out is disabled"
I'm not able to log out, the menu item is greyed out and mousing over it gives a "do not entrer" cursor.
![dinopark logout](https://user-images.githubusercontent.com/47995245/60457795-c2416500-9bf1-11e9-974e-1d8aa2428489.png)

I'm not sure if this is because of something I did, due to my container setup I ended up logged in on three containers at once (due to switching to dedicated GitHub and Bugz

[2019-07-01 18:30] fiji-flo commented on #113
That was using Firefox or something else. I'm aware that it currently does now work in webkit/blink due to https://bugzilla.mozilla.org/show_bug.cgi?id=1557735

[2019-07-01 18:55] flaki opened #121 "Ability to display Telegram username in the Accounts section/Contact Me"
Many communities & community members use [Telegram](https://telegram.org) for communication, it would be very useful to be able to showcase the username on the profile.

My Telegram username is "`slsoftworks`", the service provides the `telegram.me` shortlink to directly link to users and start chat (providing access to the in-browser web client or the platform native client at the same time): [`t

[2019-07-01 19:25] valenting opened #122 "Search cancellation button is misaligned"
![image](https://user-images.githubusercontent.com/1454649/60461370-a320f280-9c46-11e9-91a6-dc7c1306fea3.png)

Type a few characters in the search box.
You'll notice that the `X` to cancel the search is not properly aligned, instead it's lower than it should be.

[2019-07-01 21:14] flaki commented on #113
FWIW this worked in latest Nightly for me just now.

[2019-07-01 22:51] pdehaan commented on #113
Ah, I was probably using Chrome since thats what my Gmail was in.
I'll try in Firefox Nightly.

[2019-07-01 23:53] martinthomson opened #123 "Present to bugzilla as people.m.o"
The identity shown when authorizing with Bugzilla is "DinoPark Prod", which is a little disturbing unless you understand how this all fits together.  people.mozilla.org would be less surprising.

[2019-07-01 23:55] martinthomson commented on #103
It means "Staff" apparently.

Given that almost all entries have this marking, I would suggest that it could be removed, leaving a marker only for exceptional cases.

[2019-07-02 08:34] ioana-chiorean opened #124 "Unable to add the search as search engine in Firefox"
**Environment:**
- Firefox Nightly
- Ubuntu 16.04 LTS

**Steps:**
- Open people.mozilla.org
- Go to search engines bar and tap the + to add a new search engine

**Actual Result:**
- a pop up error is displayed and the search engine is not added

**Expected Result:**
- people.mozilla.org's search should be added to the search engines list

**Log:**
XML Parsing Error: mismatched tag. Expected: </lin

[2019-07-02 09:23] HerminaC commented on #103
Hello!

Yes, 'S' comes from the 'Staff' label. It actually expands to 'Staff' once you open someone's profile. Labeling like this will become more relevant and useful once we show contributors profiles (that will be labeled as such) into the app and open it up to our community (by the end of the year). Also, from a legal standpoint Mozilla is required to display clearly what type of contributor so

[2019-07-02 09:26] HerminaC commented on #123
This makes total sense, thank you for sending. DinoPark is the internal product name, but we will change it so that is not confusing.

[2019-07-02 11:16] Standard8 commented on #124
I took a brief look at this. On a fresh profile, if I log into people.mozilla.org, then try and add the search engine, I see a 307 redirect to https://people.mozilla.org/oauth/authorize. This redirects to https://auth.mozilla.auth0.com/authorize etc. That fails I think because i requires javascript.

If I subsequently load https://people.mozilla.org/opensearch.xml manually, I see the correct thing

[2019-07-02 11:22] Standard8 opened #125 "Consider allowing accounts to have different privacy levels"
I can set different privacy levels for identities, but not for accounts.

For example, I'd like to set my irc nickname to public, but there's almost no point of that for Slack, as the Mozilla Slack isn't public.

[2019-07-02 11:25] Standard8 opened #126 "Show me what my profile will look like at different privacy levels"
Rather than going through and checking every setting individually, it would be nice if I could have a quick switch between viewing at different privacy levels, so that I can check for anything I didn't expect.

[2019-07-02 14:48] calixteman opened #127 "Cannot add a secondary email"
My primary email is cdenizet@mozilla.com and I've a secondary one: calixte@mozilla.com.
I'd like to set up the second one too.

[2019-07-02 15:02] gcoxmoz opened #128 "search results are an error loop"
STR:
OSX 10.14.5, Firefox ESR 60.7.2.
https://people.mozilla.org/
In the search box "Search People by Name", I type in anyone.

Result:
New page, https://people.mozilla.org/s?query=gcox&who=staff  that says
"This page isn't available / An error occurred while trying to load the search results / Please submit all bugs or issues to the project's GitHub issue repository (link in footer)"
This goes in

[2019-07-02 15:49] fiji-flo commented on #124
Indeed. Thanks for hunting this down. Should be deployed now.

[2019-07-02 15:49] #124 closed, assigned to nobody

[2019-07-02 21:15] pdehaan commented on #113
Verified this worked in Nightly and I was able to get Bugzilla verified. Thanks.

[2019-07-03 09:54] fiji-flo commented on #128
Sorry for this inconvenience. This should be fixed now.

[2019-07-03 11:29] fiji-flo commented on #95
Thanks for raising this. Has been fixed now (see #124)

[2019-07-03 11:29] #95 closed, assigned to fiji-flo

[2019-07-03 12:01] fiji-flo commented on #90
We changed to copy here. We'll work on adding emails (#127 and others).

[2019-07-03 12:01] #90 closed, assigned to nobody

[2019-07-03 12:03] fiji-flo commented on #80
Verified bmo accounts are now supported ( via the identities section ).

[2019-07-03 12:03] #80 closed

[2019-07-03 13:58] gcoxmoz commented on #128
Confirmed, thanks

[2019-07-03 13:58] #128 closed, assigned to fiji-flo

[2019-07-03 14:02] viorelaioia-zz commented on #122
Hi @valenting ! Thanks for logging this issue!
It is mirrored in our internal jira ticket: https://jira.mozilla.com/browse/DP-1353.
We'll add a comment here when it's fixed.

[2019-07-03 14:26] rleitan commented on #116
Should be greyed out and/or not clickable in this case?
@mbransn

[2019-07-03 14:37] cshields opened #129 "support for keybase.io username"
Not sure if this would be best fit under "Identities" or "Accounts" but it would be nice to link a keybase.io username to my profile.

[2019-07-03 20:16] cknowles-moz opened #130 "Searching via slack/irc accounts fails"
For users that use IRC/slack that are different from their names, it would be nice if searching for the IRC/Slack handle would turn up their entry.

For example, Justin Dow - "Jabba" in IRC/Slack - if I search for Jabba - nothing turns up - though he has his IRC/Slack identities setup in dino-park.

[2019-07-04 01:01] jonalmeida opened #131 "Show phonebook title if available; fallback to official"
This might be a preference thing, but I don't find the official titles always accurately reflect a person's role.

[2019-07-05 04:33] karlcow opened #132 "access to profile is not working."
1. with Firefox Nightly 69
2. Go to https://people.mozilla.org/s?query=Chris%20Beard&who=staff
3. Click on the CEO one.

Actual:
The spinning widget is displayed

Expected:
Expected the profile for this person is displayed

In the console.

[code]
from https://people.mozilla.org/js/chunk-vendors.js
[code]

generated by

[code]

The response header and the content shows it has been fetched.

[code]

[2019-07-05 12:00] Standard8 opened #133 "Allow adding Twitter/Other social media ids/website/blogs"
Please could we add some more external accounts/social media/website options?

Sometimes I find people on twitter or their website and I didn't know they existed there. Being able to share that information would be nice to encourage more interactions.

[2019-07-05 12:06] andreastt opened #134 "Make tags and languages searchable"
You can add tags to your profile, which seems like a useful feature. I couldn’t, however, find a way to seach for tags.

[2019-07-05 13:25] overholt commented on #132
FWIW it works for me. Maybe an intermittent server-side issue?

[2019-07-05 13:28] overholt opened #135 "Firefox's "Add a keyword for this search" adds wrong URL"
https://people.mozilla.org/s?query=%s&who=staff is the correct one but https://people.mozilla.org/s?query&who=staff&query=%s is what was created by default.

[2019-07-05 13:30] overholt opened #136 "Cannot link GitHub or Bugzilla accounts"
I don't see an option to link my GitHub or Bugzilla accounts (only IRC and Slack and maybe Discourse).

[2019-07-05 17:58] fiji-flo commented on #136
You can find that option in the identities section https://people.mozilla.org/e?section=identities

[2019-07-05 18:49] fiji-flo commented on #134
making the tags links is on it's way. For now you can do https://people.mozilla.org/s?query=tags%3ARust&who=staff

[2019-07-05 18:53] fiji-flo commented on #105
That should be solved now. Thanks for raising this and making such good case for fixing it.

[2019-07-05 18:53] #105 closed, assigned to nobody

[2019-07-05 20:00] floatingatoll commented on #105
Sure thing - thanks for giving it consideration! Always happy to be wrong when that’s best too.

[2019-07-06 07:27] fiji-flo commented on #116
We hide the toggle now in case of 0/1 directs (where it did not do anything). Thanks for spotting this.

[2019-07-06 07:48] floatingatoll commented on #116
Ah! That makes sense. Glad I could help.

[2019-07-08 03:12] globau commented on #80
\o/ thank you!

[2019-07-08 05:20] globau opened #137 "https://phonebook.mozilla.org/ should redirect to https://people.mozilla.org/"

[2019-07-08 14:33] overholt commented on #136
Sorry, I thought it was under Accounts for some reason!

[2019-07-08 14:33] #136 closed, assigned to nobody

[2019-07-08 17:04] hwine opened #138 "phonebook functionality missing: search by handle"
A critical (IMO) function of phonebook is absent in people.m.o: ability to search by "handle", especially bugzilla nickname.

Example - this works:
  https://phonebook.mozilla.org/?search/aryx
this does not:
  https://people.mozilla.org/s?query=aryx&who=all

I would consider this a blocker to #137

[2019-07-08 20:16] floatingatoll opened #139 "New employee isn’t searchable on their first day"
Hi, a new employee’s was introduced to my division on Slack this morning. They’re present on old Phonebook right now with their Workday preferred name, but Dinopark isn’t able to find them at all. I assume this issue will be corrected after a 24 hour syncing interval passes; however, that creates an awkward experience for new
employees since they can’t be looked up by others (and may well encounte

[2019-07-09 17:16] gdestuynder commented on #137
The cut over / transition is planned on July 15 IIRC @HerminaC

[2019-07-09 18:19] dveditz commented on #138
agreed! I use this all the time. In fact it's one of my main uses of phonebook -- looking up IRC nicks or bugzilla "spam-bucket" emails to find the correct @mozilla.com address to send mail or a meeting invite.

[2019-07-09 18:22] gcoxmoz commented on #137
As I write this, there are 73 open issues in this repo, and the beta banner is still up on people.
Can we **not** be in a rush to take phonebook away, while the backlog of issues is reduced?

[2019-07-09 18:32] dveditz commented on #138
Aryx might be a bad example because there appears to be no/little data transfer from the old phonebook. Look at James Willcox instead: he's got "snorp" in 5 different fields (including all the ones I search for) but search still doesn't find it.

[2019-07-09 18:48] gdestuynder commented on #137
@gcoxmoz most issues are not bugs or blockers, but I think @HerminaC is working on having a list of blockers. If there are blockers left I'm sure the date will change, until they're resolved.

[2019-07-09 19:50] HerminaC commented on #137
@gcoxmoz I confirm. There is no blocker at this point, but for sure we'll not close down Phonebook if you find out any. There are mainly smallish bugs and feature requests. Our lead dev already solved quite a bit of them but he had PTO planned for this week and we've agreed not to deploy to prod before he left. You will see an updated version early next week.

[2019-07-09 19:53] HerminaC commented on #137
I see your 'search by handle' request just now. makes sense, I'll prioritize it.

[2019-07-09 20:33] HerminaC commented on #131
Hey @jonalmeida !

Thanks for this feedback! It is indeed a preference things. In order to implement it in this way we did extensive user research with Mozilla staff. Even more, as it's quite a sensitive topic, I also surveyed the beta users group (164 employees) very late in the process - just to make sure people are confortable with this. We've got confirmation that employees find it very useful

[2019-07-09 22:19] gdestuynder commented on #118
since this is specific to Mozilla's Slack workspace, I suspect this could be done with a Slack driver automatically instead of prompting the user for it

Note: this would not be possible for bugzilla or github are not using SSO login and may have any user identifier

[2019-07-09 22:21] gdestuynder commented on #108
this would be a great feature. I wonder if the hris connector would be able to get this from a modified report (we don't get this data in the current report)

I also wonder if there are privacy implications to this, but we should definitely check with the privacy team if implemented. Alternatively, just let people self-set some away state, or read in from Slack.

[2019-07-09 22:25] gdestuynder commented on #94
Currently, if you need to change your staff email you can do so by asking HR, as this is an invasive change with consequences (some systems will identify you by email and forget who you are when you do this)- but it's definitely possible

[2019-07-09 22:41] smaug---- commented on #94
Many people have aliases to their email addresses, often because they prefer some other address than the default one.

[2019-07-10 03:55] globau commented on #138
related: #78, #130

[2019-07-10 03:55] globau commented on #130
related: #78, #138

[2019-07-10 04:00] globau commented on #137
While it has been the Mozilla thing to have duplicate systems online for extended periods of time (eg. mana/intranet), to avoid confusion please don't hesitate to pull the plug on the old phonebook as soon as dinopark leaves beta - even if it isn't 100% perfect.

[2019-07-10 05:58] globau commented on #78
As this is a high impact to me I've created a pull-request which should fix this issue - https://github.com/mozilla-iam/dino-park-search/pull/53

(cc @HerminaC)

[2019-07-10 12:43] HerminaC commented on #78
Thanks a lot, @globau . @fiji-flo is currently on PTO, but we'll look at it together next Monday

[2019-07-11 15:21] gene1wood opened #140 "Heavily delayed navigation to org view highlight"
When navigating to a specific user in the org tree view, the sequence goes

* From a user's profile page click the org button
* The page refreshes taking the viewer to the org view
* 5 to 13 seconds later (on a super fast connection) the viewport updates to the highlighted user

It took me quite a while to realize that the highlight function wasn't just broken but instead delayed by a long period

[2019-07-12 00:08] philip-lamb opened #141 "Add search by location"
Currently attempts to search by location are hit-and-miss. If I want to find Mozillians in a city, it appears to partially work, but by country name nothing comes up. Country two-letter code pulls in lots of unrelated things (e.g. searching for "au" finds people in Australia, but also in Austin and also people with au in their name.

It'd be nice to have a quick way to find people in a particular

[2019-07-12 09:21] HerminaC commented on #140
Thanks for this, Gene! Please send us the video (me and Florian) via Slack. I'll bring this to him on Monday, when he's back.

[2019-07-15 15:20] mjzffr opened #142 "Allow search by keywords field"
I often use phonebook to find people who specialize in a certain area, e.g. graphics, layout, automation. Sometimes this is info is mentioned in bio/description, which is already searchable, but the keywords field is even better for this purpose.

[2019-07-15 19:28] cshields opened #143 "search seems to work too broadly when an exact match can be found"
STR: search "ericz"

The right "ericz" does come up in the results, at the top (yay), and is a direct match on his username. However, the search returns 10 others with a form of "eric" in their name but no "ericz".

Should probably not search fuzzily if/when there's an exact match found.

[2019-07-15 20:15] philip-lamb commented on #141
OK, I discovered that there's hidden syntax in the search field for this. Use search keyword officeLocation:"XXX".

[2019-07-15 20:15] #141 closed, assigned to nobody

[2019-07-15 21:43] escapewindow opened #144 "adding a github account is impossible when using containers"
In theory, I would add my `escapewindow` github account to my pmo page.

1. Open people.mozilla.org in a `Work` container, where it is set to open by default
2. `Identity -> add identity -> github -> verify`
3. This opens a github page in my `Github` container, where it is set to open by default
4. Then this opens an Auth0 page in my `Work` container, where it is set to open by default
5. This ope

[2019-07-16 07:01] fiji-flo commented on #142
you can search right now for [tags:Rust](https://people.mozilla.org/s?query=tags%3ARust&who=staff) (must be exact match or [tags:rust~1](https://people.mozilla.org/s?query=tags%3Arust~1&who=staff) (for one off). We're working on the UI for that.

[2019-07-16 07:04] fiji-flo commented on #138
If you change your username (the [first field](https://people.mozilla.org/e?section=personal-info)) this will just work. In general people have a consistent username across resources we're working on supporting different usernames without yielding irrelevant search results like phonebook.
I see that we need to encourage people to set their username.

[2019-07-16 13:46] hwine commented on #138
No - that is neither a) sufficient nor b) should be necessary. We want the tool to conform to the user, not make the user conform to the tool.

@fiji-flo I think you may not be understanding the problem we're reporting. People *do not have a consistent username* in this case. There are (at least) the following user names all of which *can* be different.
- official ldap name (eg {first_initial}+{la

[2019-07-16 13:46] globau commented on #138
unfortunately this isn't always possible.  for example i'm `glob` most places, but i'm `globau` on github as someone else took `glob` (and did nothing with it ☹️).

https://phonebook.mozilla.org/?search/globau finds me on the current phonebook

[2019-07-16 15:33] fiji-flo commented on #138
@hwine I get your problem. I do. I'm fiji-flo on github fiji in most places and fiji_flo on twitter and other things that don't allow dashes.

As I said we're working on this and it has high priority. Some of this is straight forward and just work some of this is tricky since we build on top of a strict schema provided by [cis](https://github.com/mozilla-iam/cis/) without any meta information. Ver

[2019-07-16 15:37] HerminaC commented on #138
@hwine @globau @dveditz
We're going to index github, bugzilla, slack and irc so that they are searcheable by default by the end of the week.
Please bear with us for a little bit more and sorry about this. Thanks.

[2019-07-17 17:42] LucyeoH-zz opened #145 "Mozilla Foundation Staff Account Issues"
MoFo (Mozilla Foundation) employees appear to get the "contributor" view and not the staff view. See below: Gideon Thomas is logged in with his MoFo account but can't find his own profile.

<img width="1440" alt="Screen Shot 2019-07-17 at 1 40 54 PM" src="https://user-images.githubusercontent.com/8070833/61397771-9af8c200-a898-11e9-86fb-d396c7d93300.png">

[2019-07-17 17:47] LucyeoH-zz commented on #145
We ran an experiment he has the same visibility as a "Registered" user.

[2019-07-17 18:03] HerminaC commented on #145
Hey, this doesn’t look good.i pinged florian and also kang about it- hope
they see it soon

Le mer. 17 juil. 2019 à 19:42, LucyeoH <notifications@github.com> a écrit :

--
Staff Program Manager

[2019-07-17 19:19] LucyeoH-zz commented on #145
Note: that I tried to recreate with a different MoFo (Abigail Cabunoc Mayes) and her profile seemed normal.

[2019-07-18 15:21] andrewkrug commented on #145
This happens generally when the HR data is missing or inaccurate.

[2019-07-19 12:02] fiji-flo commented on #144
@escapewindow I tried to reproduce this in a clean Firefox profile (67). And for me this exact flow worked. Can you please try this again. If possible look at the console if something shows up and tell me at what time you did it, to check our logs.
My personal setup is quite similar. Just to rule out that there's a not another issue you could try it in a private window.

[2019-07-19 13:31] fiji-flo commented on #140
@gene1wood Thanks for reporting this and the video. I finally was able to spend the time to fix this. Should be fast now for that use case. I still need to debug this more. If you:

- reload
- go to orgchart
- click on expand all and quickly after click on a person

the issues is still there (since I fixed you case by lazy loading the pictures).

Anyhow. I'll report back once everything is smooth.

[2019-07-22 02:36] escapewindow commented on #144
The private window worked, thanks!

[2019-07-22 02:36] #144 closed, assigned to nobody

[2019-07-22 15:28] HerminaC commented on #137
Hey @gcoxmoz searching by handle should work now. Could you please try it? Thanks!

[2019-07-22 16:22] globau commented on #78
looks like this has been fixed as part of https://github.com/mozilla-iam/dino-park-search/pull/54

thanks!

[2019-07-22 16:22] #78 closed

[2019-07-22 16:23] globau commented on #138
looks like this has been fixed - https://people.mozilla.org/s?query=globau&who=staff now finds me.

thanks!

[2019-07-22 16:35] hwine commented on #138
My use cases also now work!!! :tada:

Thanks so much!!!!
(@HerminaC I'll let you or @fiji-flo close, in case you want to track it somehow.)

[2019-07-22 17:36] gcoxmoz commented on #137
I see the issue from #138 as better, yes.  Good start.

[2019-07-23 10:52] Archaeopteryx commented on #102
This happens when the user is not logged in at discourse.m.o

[2019-07-24 15:54] fiji-flo commented on #123
I should say _people.mozilla.org_ now. Thanks!

[2019-07-24 15:54] #123 closed, assigned to nobody

[2019-07-24 20:11] kewisch commented on #131
I agree it is useful to show the official title, especially if the fun title makes it hard to guess what the person is really doing. Did the research also consider the inverse case, where the official title makes it hard to guess what the person is really doing? In this case one would set the "fun" title to something that is accurate (and not necessarily fun).

 I think both should be shown, but i

[2019-07-24 20:29] HerminaC commented on #131
Hi! We are indeed showing both of them  now. The 'fun title' became
'alternate title' and is displayed right under the official one. Hope this
helps!

Le mer. 24 juil. 2019 à 22:11, Philipp Kewisch <notifications@github.com> a
écrit :

--
Staff Program Manager

[2019-07-24 21:50] kewisch commented on #131
I'd actually enjoy if it was a user preference if the alternative title or the official title is shown bold and larger, essentially allowing to flip the two.

[2019-07-25 13:10] fiji-flo commented on #100
These cookies are set by the authentication proxy. We use [gatekeeper](https://github.com/keycloak/keycloak-gatekeeper) (from Redhat) for this and they currently do not support SameSite cookies. I wrote a patch and I'm hoping to get it upstream. I'll switch to my fork in the meantime.

[2019-07-25 16:46] fiji-flo commented on #107
I talked with them and that was inconsistency between LDAP and Workday (technically it's a race which name wins for the initial name). After this is populated at account creation it's only changeable in people.mozilla.org as the names are not synced forth and back,

That issues was resolved.
We keep working on streamlining the "account" (LDAP/Workday) creation process.

[2019-07-25 16:46] #107 closed, assigned to nobody

[2019-07-25 17:31] fiji-flo commented on #100
Fix deployed. :crossed_fingers: that it's get accepted upstream.
[code]

[2019-07-25 17:31] #100 closed, assigned to nobody

[2019-07-25 17:33] floatingatoll commented on #100
Thank you! I really appreciate this.

[2019-07-26 12:44] HerminaC commented on #125
Hey @Standard8,

This si indeed something that would make sense and we currently don't have implemented. We will do it, but it's part of a bigger change we want to make, that involves setting different privacy levels for access groups (a new feature we are currently developing). We will address the Accounts as well when writing the API for access groups, in the next couple of months (most probably

[2019-07-26 14:14] HerminaC commented on #143
Hey Corey,

On the other hand, if someone wants to search for someone called Eric but doesn't know exactly how is his name spelled or misspelles his name when typing (and writes Ericz for eg), I think that person would appreciate to not only see 1 result with his exact search, but multiple, so that he can cross check with the photo as well and find the person he's looking for.
The fact that your e

[2019-07-26 16:18] cshields commented on #143
Understood - then I might change this to a feature request that matching strings appear and get highlighted in the search results.  Using the example above, if I search for "ericy" all eric* fuzzy results appear, but then searching for "ericz" would show the fuzzy results and under Eric Ziegenhorn's result show "Username: **ericz**  IRC **ericz** ... etc"

I'll note for anyone else who reads this,

[2019-07-29 18:37] LucyeoH-zz commented on #145
@gideonthomas (see above) possible cause?

[2019-07-29 18:49] gideonthomas commented on #145
checked with HR, they are having the same issue with their accounts as well. They also don't know what data could be missing. What specific data do you need for it to work? (feel free to email/slack instead if this is sensitive info)

[2019-07-29 21:39] hwine opened #146 "fav icon isn't congruent with site purpose"
The fav icon is (as near as I can tell) a computer.  Seems an odd choice for a site called "Mozilla People" :)

![SharedScreenshot](https://user-images.githubusercontent.com/132412/62084665-a63fdc00-b20e-11e9-849a-4c2ee04fce64.jpg)

[2019-08-01 17:35] gdestuynder commented on #139
@floatingatoll Hi, can you msg or email me the name of the person ? (i.e. no on this ticket)
I'll double check to see if anything specific/wrong happened, or if we need to ask for these users to be added to HRIS/Workday a little ahead of time

otherwise, the system sync each 6 hours and respect HR attributes for when the profile is to be available. Phonebook does not respect HR attributes, so this

[2019-08-01 17:35] #139 closed, assigned to nobody

[2019-08-01 17:40] gdestuynder commented on #94
The LDAP addresses are provided as a convenience/favor, but not the official work address.
In order to change your official work email you would have to do so with HR in Workday - when that's done it will be reflected in Dinopark automatically. I would recommend doing so if you would prefer a specific, different email to be used consistently.

If not, the feature itself is currently at https://jir

[2019-08-01 17:40] #94 closed, assigned to nobody

[2019-08-01 18:04] gdestuynder commented on #139
Clarification per request: the attributes for staff were not present at time of user login, these were added a few hours later in the day (at which point the 6hr sync picked them up)

[2019-08-01 18:23] gdestuynder commented on #145
I verified with Gideon and:
- he cannot search for staff profile
- he only sees public data on profiles (such as mine)

However:
- Dinopark shows his profile as staff
- CIS API has `staff_information.staff.value=true`

[2019-08-01 18:28] gdestuynder commented on #145
@fiji-flo @andrew-sunada this looks like potentially a proxy issue (?)

I asked @gideonthomas to delete all his cookies for people.mozilla.org in case we had state left over from previous betas and he's got the same result as well

[2019-08-01 18:38] andrew-sunada commented on #145
Not sure what's going on there. I'm seeing his name under staff:
<img width="1878" alt="Screen Shot 2019-08-01 at 7 37 30 PM" src="https://user-images.githubusercontent.com/52681401/62318502-d5459000-b450-11e9-9162-0f605ff6aa32.png">

[2019-08-01 19:16] gdestuynder commented on #145
@andrew-sunada the profile data seems correct, but dinoarpk does not request data on his behalf with the correct scopes, as if during authentication it didn't see his user is staff

[2019-08-01 19:38] andrew-sunada commented on #145
Oh, so he can't see his own profile with his own scopes? That's fun.

[2019-08-01 19:52] gdestuynder commented on #145
or any. This is what I see in the logs:
`[32minfo[39m: [32msearching for (authenticated): "Guillaume Destuynder" (staff)[39m` (instead of "for (staff)" i believe

[2019-08-01 20:04] gdestuynder commented on #145
Ok, so i found out what happened - at login time there is no `hris_is_staff` attribute in the OIDC `id_token`

This is most likely due to an issue in the hris driver for CIS APIv1, either because the email is non-standard, or .. something else.
I've manually vetted and fixed @gideonthomas 's account in the mean time so that he can use DinoPark normally

[2019-08-01 20:59] gdestuynder commented on #145
Cross linking https://jira.mozilla.com/browse/IAM-204

[2019-08-06 16:05] Archaeopteryx opened #147 "orgchart shows person who left, not found by search (stale orgchart?)"
The org chart lists at least one person not found by search results.

Steps to reproduce:
1. Open the org chart.
2. Expand it.
3. Search for "Kathleen".
Actual result: 3 "Kathleen"s.

4. Search for "Kathleen".
5. Restrict to Staff.
Actual result: 2 exact matches

phonebook.mozilla.org also shows that the person has left.

[2019-08-12 15:04] gene1wood opened #148 "Profile edit : Pronouns field intermittently missing content"
When visiting the https://people.mozilla.org/e?section=personal-info page, intermittently the value for the `Pronouns` field is absent

I visited the URL above to edit my profile and the page rendered like this

![peoplemozillaorg-pronoun-field-missing](https://user-images.githubusercontent.com/1134034/62875353-bf995b80-bcd7-11e9-858b-b27a65318ea7.png)

then I re-navigated to the page and it rende

[2019-08-13 03:30] globau commented on #137
This redirect is in place - closing.

[2019-08-13 03:30] #137 closed, assigned to nobody

[2019-08-13 08:19] viorelaioia-zz commented on #138
Closing this, as it was fixed.

[2019-08-13 08:19] #138 closed, assigned to nobody

[2019-08-13 08:22] viorelaioia-zz commented on #130
This has been fixed, searching after irc/slack handles returns the expected results.

[2019-08-13 08:22] #130 closed, assigned to nobody

[2019-08-13 08:43] rleitan commented on #62
This issue is fixed!

[2019-08-13 08:43] #62 closed

[2019-08-13 09:01] viorelaioia-zz commented on #132
@karlcow , I was not able to reproduce this error. Can you please try again and let me know if it's still happening on your end? Thanks!

[2019-08-13 09:04] viorelaioia-zz commented on #122
This issue was fixed.

[2019-08-13 09:04] #122 closed, assigned to nobody

[2019-08-13 09:07] viorelaioia-zz commented on #120
The logout feature was implemented and it's currently available in people.mozilla.org. @agashlin , feel free to try it out.
Closing the ticket.

[2019-08-13 09:07] #120 closed, assigned to nobody

[2019-08-13 14:14] gdestuynder commented on #148
I was not able to reproduce this - @viorelaioia @fiji-flo @andrew-sunada  have you seen this before or have an idea of what causes it?

Otherwise, we may request an HAR

[2019-08-13 16:30] gdestuynder commented on #137
hey thanks :D

[2019-08-13 16:30] #61 closed

[2019-08-13 16:31] gdestuynder commented on #68
This should now work

[2019-08-13 16:32] gdestuynder commented on #148
@gene1wood can you reproduce this in private browsing mode as well?

[2019-08-13 16:58] gene1wood commented on #148
I've not tried. I can attempt it tomorrow and let you know.

[2019-08-14 05:22] jgmize commented on #68
Thanks!

[2019-08-14 05:22] #68 closed

[2019-08-14 05:56] karlcow commented on #132
@viorelaioia This is now working. Thanks!

[2019-08-14 05:56] #132 closed, assigned to nobody

[2019-08-14 07:30] viorelaioia-zz commented on #110
This is fixed in current production version. @floatingatoll , feel free to try it out.

[2019-08-14 07:30] #110 closed, assigned to nobody

[2019-08-14 07:46] floatingatoll commented on #110
Thank you!

[2019-08-14 14:42] gene1wood commented on #148
I tried it a few times in private browsing but didn't trigger the bug. I did however notice that this bug likely affects both the Pronouns field and the Location field.

When the page is rendered both these fields are rendered after everything else as if they're assembled by some different backend call than the other elements. You can see the delay in this video showing how the page renders (in sl

[2019-08-15 14:05] overholt opened #149 "IRC and Slack not shown in Contact Me despite checking button to do so"
I've added IRC and Slack accounts (under Accounts) and checked the "Show in Contact Me button" but they don't show up in the Contact Me button.

[2019-08-15 15:19] cshields commented on #143
Another case here:  search 'chlin'..  there are 4 results returned, with the first 3 not having a match for the actual string - and the last one does (who is the real chlin, but he shows up last).

And, given my last solution of @username, doesn't work here as chlin is the email address and he has not set a username so @chlin pulls up no results.

So - given this use case I want to keep this open

[2019-08-16 17:11] gideonthomas commented on #145
Hey folks, some of my MoFo colleagues are also having this issue and with phonebook no longer accessible, it's a bit of a blocker for their work. What is the best way to resolve it for them?

[2019-08-19 08:59] fiji-flo commented on #149
Thanks for reporting, should be fixed now.

[2019-08-19 08:59] #149 closed, assigned to nobody

[2019-08-19 13:32] SarahWat commented on #145
Hi There, I'm running up against the same issue. Let me know how to resolve.
Thanks!

[2019-08-20 13:25] gcoxmoz opened #150 "Staff without profile pictures"
New Hires were not regularly / reliably told about adding their picture to phonebook, and that trend appears to be continuing in dinopark.

* We have an expectation that staff have a photo taken for their badge for security purposes.
* There have been emails to the effect of "see something, say something": ask to see the badge of someone we don't know, but without a picture there's no cross refere

[2019-08-21 12:43] gdestuynder commented on #145
@SarahWat can you confirm this is resolved for you now?

Normally, the fix has been pushed to DinoPark by @fiji-flo

[2019-08-21 13:06] SarahWat commented on #145
Yes, resolved for me.

Thanks so much!

On Wed, Aug 21, 2019 at 8:43 AM Guillaume Destuynder (:kang) <
notifications@github.com> wrote:

--
Sarah Watson
Executive Program Manager
Mozilla Foundation

[2019-08-21 14:59] #145 closed, assigned to nobody

[2019-08-21 19:28] mkaply opened #151 "Doubleclicking username selects the first part of the pronoun"
Go to:

https://people.mozilla.org/p/mkaply

Double click @mkaply

Notice that he gets highlighted as well as mkaply.

This makes it inconvenient to copy a username.

[2019-08-22 14:18] flekkowich opened #152 "Can we automatically set timezone based on location?"
For some users where only location is set, there is no timezone or current time showing.

Can we set this automatically for staff based on their location?

[2019-09-03 21:09] dhylands opened #153 "Integration with discourse doesn't seem to work."
I also reported this here: https://bugzilla.mozilla.org/show_bug.cgi?id=1578520 but I'm not sure that's the right place.

Everytime I visit discourse.mozilla.org, I get presented with a dialog titled "Discourse integrates with people.mozilla.org", even if I click the "Don't show this again" link.

Problem 1: I can't enter anything into any of the fields. The mouse changes to a circle with a slash

[2019-09-03 21:57] devinreams commented on #147
As another data point: our most recent interns are also correctly inactive/disabled in Workday but still appearing in People (see: Michelle reporting to Devin Reams, Yuval reporting to Sandy Sage).

[2019-09-04 20:12] fiji-flo commented on #147
Thanks for reporting this. We had an issue with deleting people from the orgchart after a library upgrade. All interns and other people who left are deleted now.

[2019-09-04 20:12] #147 closed, assigned to nobody

[2019-09-04 20:15] cshields opened #154 "Create a link for the manager"
Would be great to have the name of the manager clickable, instead of having to copypaste to create a new search.

STR:
Load my profile
Hover over my manager's name (not a link)
Hover over to location (is in fact a link)

[2019-09-04 20:37] tobinmori opened #155 "Please update 'Reports to' for 4 employees"
Peter Bengtsson
Ryan Johnson
Gregor Weber
Schalk Neethling

All report to:
Tobin Mori

Thank you!

[2019-09-05 09:19] fiji-flo commented on #155
Hi, they are still reporting to someone else in workday, it will be updated as soon as the structure changed officially. Please contact peopleops for this. I'll delete this issue as it contains names if that's alright.

[2019-09-05 09:19] #155 closed

[2019-09-05 10:39] LeoMcA commented on #153
This is an odd bug, my only idea is that the `authentication_data` cookie isn't being deleted because I didn't specify the path.

I've done that in https://github.com/mozilla/discourse-mozilla-iam/commit/c419042277d574c2863563a92d704c8d1a8a5131 which has been deployed to prod.

@dhylands can you let me know if you still see the bug? And if so, can you send a screenshot of the cookie names and path

[2019-09-05 15:42] dhylands commented on #153
As of this morning, I no longer get the dialog.

[2019-09-05 15:42] #153 closed, assigned to nobody

[2019-09-10 12:23] fiji-flo commented on #151
Thanks for reporting. Has been fixed in our last deployment.

[2019-09-10 12:23] #151 closed, assigned to nobody

[2019-09-11 15:40] k88hudson opened #156 "Unable to save edits for any of my information"
When trying to edit my information on https://people.mozilla.org/e?section=accounts,
I get the message `A problem occurred, please try again later.` when trying to save.

I see the following error in the console:

[code]

This is using Firefox Nightly 71.0a1 (2019-09-10) on Mac.

[2019-09-11 16:10] HerminaC commented on #156
Hi Kate,

This is solved now, please try again.
And sorry about that.

Hermina

[2019-09-11 17:09] k88hudson commented on #156
Thanks for the quick response! It is now working 👍

[2019-09-11 17:09] #156 closed, assigned to nobody

[2019-09-24 22:10] gcoxmoz opened #157 "Allow a user to restrict workday information from NDA's"
Currently my job title, office location, desk number, and team are visible to 'NDA + Staff'.

Non-staff folk do not need that information on me, and I'd like to have the option to restrict as much as possible to staff-only.

[2019-09-27 20:12] RosanneScholl opened #158 "Getting a blank white screen when I try to navigate to https://people.mozilla.org/"
The title says almost all. I have internet access, am on Nightly 70.0.a1 on a MacBook Pro with 10.14.6 and when I go to https://people.mozilla.org/ I get a blank white page even after reloading several times. This has happened before, and then later in the day it will work.

[2019-09-27 20:14] RosanneScholl commented on #158
5 minutes later, now it works. It quickly goes to my SSO screen, logs in, and then to the directory. But this has repeated enough times that I'm confident it indicates an actual problem.

[2019-09-27 20:58] tublitzed opened #159 "Feature request: Add optional "start date" field."
As a user of people.mozilla.org, I find myself constantly cross-referencing LinkedIn to find out how long people have been working here (I'm a new hire, so am using people.mozilla.org as I get to know folks here).

It would be nice if there was an optional field in there for people to choose to show their start date or not. I've been told that some people might prefer to keep this kind of thing pr

[2019-10-03 08:15] HerminaC commented on #157
Hi @gcoxmoz,

Sorry for the late reply on this - i took some time thinking about what you're asking as I've also consulted with different people within Mozilla. All this to say that I see your point and I carefully considered it.
Mozilla is a company with an unique NDA - it's not staff only, it's staff and volunteers and partners (like universities, research agencies...). We work together on topic

[2019-10-04 21:17] RosanneScholl commented on #158
This is happening again today- at around 11 am and then again just now at 2:15. I have't been able to use the page at all today.

[2019-10-25 15:07] amychurchwell opened #160 "[Bug] Appears you can copy people's profile information to your own profile."
## Steps to recreate.

1. Go to your profile and select 'edit' button.
2. Scroll to bottom and click on another profile from the "Colleagues" list.
3. Click back button in browser.

**Bug:** displays option to seemingly edit another person's profile.

<img width="1036" alt="Screen Shot 2019-10-25 at 7 56 53 AM" src="https://user-images.githubusercontent.com/30483988/67581560-0f939600-f6fd-11e9-9f3

[2019-10-30 11:24] MichaelKohler opened #161 "Picture Upload: Privacy notice checkbox not nicely aligned"
Browser: Firefox Nightly from a few days ago

Steps to reproduce:
* Edit your profile
* Edit the picture - notice the misalignment of the checkbox once the dialog comes up

<img width="644" alt="Screenshot 2019-10-30 at 12 21 24" src="https://user-images.githubusercontent.com/330324/67854174-c5991e80-fb07-11e9-9462-e9ce0aac26e4.png">

[2019-10-30 11:25] MichaelKohler opened #162 "Picture Upload: resulting image can't be found"
Steps to reproduce:
* Upload and size picture
* Check the privacy checkbox
* Click "Select"
* Notice that the image is correct in the preview
* Save profile
* Observe that on the profile the image can't be found

<img width="644" alt="Screenshot 2019-10-30 at 12 21 24" src="https://user-images.githubusercontent.com/330324/67854290-f416f980-fb07-11e9-92d4-060a11ce42be.png">

<img width="688" alt="S

[2019-10-30 11:28] MichaelKohler opened #163 "Profile Edit: Accounts select boxes overlap with sidebar"
Steps to reproduce:

* Edit your profile
* Edit the accounts
* Click on the type of account and notice that part of the select is behind the sidebar

<img width="619" alt="Screenshot 2019-10-30 at 12 28 02" src="https://user-images.githubusercontent.com/330324/67854541-6e477e00-fb08-11e9-98f9-92abd218eb96.png">

[2019-10-30 11:30] MichaelKohler opened #164 "Profile: Contact me button label not aligned correctly"
The "Contact me" button is not aligned correctly:

<img width="308" alt="Screenshot 2019-10-30 at 12 30 22" src="https://user-images.githubusercontent.com/330324/67854704-b666a080-fb08-11e9-984b-4b65b0e54d26.png">

[2019-10-30 11:34] MichaelKohler opened #165 "Forbidden Page: "Link in footer" - Why not link it?"
The page at https://people.mozilla.org/forbidden says "Please submit all bugs or issues to the project's GitHub issue repository (link in footer)." Is there a reason why that is not directly a link?

<img width="810" alt="Screenshot 2019-10-30 at 12 33 14" src="https://user-images.githubusercontent.com/330324/67854918-43a9f500-fb09-11e9-857c-849034cb6d56.png">

[2019-10-30 12:51] fiji-flo commented on #164
I cannot reproduce it unless I change the font size for that element. Anything custom in your setup?

[2019-10-30 12:58] MichaelKohler commented on #164
I had the font size in Firefox at Times/14px and my display setting set to "scaled" for the whole OS on macOS. Reverting both changes doens't help much though. This is on latest Firefox Nightly.

<img width="486" alt="Screenshot 2019-10-30 at 13 55 15" src="https://user-images.githubusercontent.com/330324/67859906-9c32bf80-fb14-11e9-85de-f26940673540.png">

<img width="378" alt="Screenshot 2019-10

[2019-10-30 13:04] fiji-flo commented on #164
Yeah, looks like it's the font size. Can you set it to 16 to see if that works? I'll look into a fix.

[2019-10-30 13:35] MichaelKohler commented on #164
Sorry for not being clear, I already had done that before taking those screenshots.

[2019-10-30 14:35] fiji-flo commented on #164
https://github.com/mozilla-iam/dino-park-front-end/pull/494

I you still have a setup to run this there's a new version of the extension: https://github.com/fiji-flo/dinoparklocaldev/releases/tag/0.0.9
Doesn't work in nightly due to https://bugzilla.mozilla.org/show_bug.cgi?id=1590898

[2019-10-30 14:58] fiji-flo commented on #163
Confirmed. Addressed in https://github.com/mozilla-iam/dino-park-front-end/pull/495

[2019-10-30 15:00] fiji-flo commented on #162
Thanks, that's a know issue I was about to file here. If you change the display setting to something that includes your scope (i.e. NDA'd) you'll be able to see the picture.

[2019-10-30 15:53] sharonbautista opened #166 "Profile Edit: Phone number field does not allow inclusion of extension #"
The phone number field does not appear to allow inclusion of an extension number. There is also no separate field to add an extension, which is part of Mozilla space phone numbers and Mozilla soft phone numbers used by remotees.

Screenshot of error when extension is included:

<img width="663" alt="image" src="https://user-images.githubusercontent.com/17853015/67874440-eca12180-fb02-11e9-9b6d-82f

[2019-10-30 16:08] fiji-flo commented on #161
https://github.com/mozilla-iam/dino-park-front-end/pull/496

That fixes it, need to triple check that it doesn't break anything. Wondering why that was there.

[2019-10-30 16:11] fiji-flo commented on #166
Do you know if there's a standard for this which works with `tel:` links? We restrict numbers that the links work on your mobile.

[2019-10-30 16:18] jens1o opened #167 "Editing Profile: Weird UX with default display level selection"
I find it confusing that by default as an NDA'd volunteer the preselection defaults to `Staff` only for new content when editing your own profile. Rather, I'd expect it to be `Private`.

[2019-10-30 16:30] jens1o opened #168 "Profile editor: Keys section without functionality, weird UX"
![image](https://user-images.githubusercontent.com/11234139/67877896-b67f9400-fb3a-11e9-95b0-b0ab120d50f3.png)
Could you consider adding a paragraph about what I can do with it?

Furthermore, it should be noted that when clicking on `Add / Remove`, it is without functionality for users without LDAP access, getting a prompt to enter a e-mail and a password.

[2019-10-30 16:31] jens1o opened #169 "SSO: Mozilla People Directory appears twice, labeled "Phonebook" and "Mozilla People Directory""
![image](https://user-images.githubusercontent.com/11234139/67878104-11b18680-fb3b-11e9-9b3e-6221a8c6f2c6.png)
(both link to people.mozilla.org)

[2019-10-30 16:36] jens1o opened #170 "Editing profile: Cannot override timezone"
For example, I want to anonymize my real location, which is why I only enter a rough location, like `Europe`.

Now, Europe consists of some different timezones, which is why it might be useful to manually set a timezone.

[2019-10-30 16:38] jens1o commented on #134
I'd really like to see this as well to quickly get a sense about who I can connect to. :)

[2019-10-30 17:28] MichaelKohler commented on #162
could it be that it just takes a while to process? I didn't do anything and now I can see it.

[2019-10-31 05:23] devcer opened #171 "`Verify` button under identities tab doesn't make much sense"
-> Clicked on `Add Identity` in identities tab
-> Clicked on `verify` button after selecting github
-> The screen is redirected to Authorize my github account

The name of the button `verify` is actually ambigious as it actually authorizes my github account rather than verifying if my details are correct or not. `Authorize` makes more sense.

[2019-10-31 09:25] yamamashakaa commented on #162
I had the same problem, then after reading the comments here I realized that changing the scope will let me see my picture. But I think that whatever the scope is I should be able to see my own picture. Also, for me the icon to change the scope was not clear .

[2019-10-31 10:06] Mte90 commented on #168
I can confirm the issue, isn't clear what is.

[2019-10-31 10:07] Mte90 opened #172 "Too many fields as only for staff as default"
If the purpose of this website is reach people there are too many fields (like also avatar) with as default only staff.

Often people don't think of visibility only later so it is better to change like for registered only or for public and later let the user to change but avoiding to do that in all of them, that is kind of boring.

[2019-10-31 10:09] Mte90 commented on #134
Also I have to click manually for any tags to add it?
I copied and past mine from mozillians:
![immagine](https://user-images.githubusercontent.com/403283/67937978-da8cb500-fbce-11e9-8c82-4b46a4a4107e.png)

I will leave my profile broken https://people.mozilla.org/p/Mte90

[2019-10-31 10:15] Mte90 opened #173 "Grey text is not very easy to read"
Also the Firefox accessibility test confirm the issue

![immagine](https://user-images.githubusercontent.com/403283/67938423-b8dffd80-fbcf-11e9-985b-2f7f1a0a4369.png)

[2019-10-31 10:18] Mte90 opened #174 "Missing external accounts"
One of the key features of mozillians is that is easy to reach people because all the links for socials are available in case the person is not available on others.

This is missing...

[2019-10-31 10:19] Mte90 commented on #174
I saw in other profile that they are using accounts but for us there are only 3 options...

[2019-10-31 10:21] Mte90 opened #175 "Validate languages and make clicking on languages take you to searching for that language"
Mozillians has the list of languages to help on writing and avoid this kind of things

![immagine](https://user-images.githubusercontent.com/403283/67938805-808cef00-fbd0-11e9-8e35-eab5b6018339.png)

Also because it was possible (with a pr that I did and abandoned  because of this project) to filter people by languages spoken (very helpful for communities).

[2019-10-31 10:23] Mte90 opened #176 "No validation in accounts"
![immagine](https://user-images.githubusercontent.com/403283/67938927-c1850380-fbd0-11e9-952d-4b99ad149773.png)

As You can see there is no validation like for spaces like it is on mozillians

[2019-10-31 16:20] LeoMcA commented on #175
I don't think we want to limit the languages a user can add here, @HerminaC can you confirm?

You can search for people with a particular language tag with the `language:` modifier, eg: https://people.mozilla.org/s?query=languages%3A%22British%20English%22&who=all

[2019-10-31 16:22] LeoMcA commented on #126
This has been implemented: https://discourse.mozilla.org/t/mozilla-people-directory-what-s-new/46994?u=leo

[2019-10-31 16:22] #126 closed, assigned to nobody

[2019-10-31 16:24] LeoMcA commented on #127
This has been added: go to contact, click the edit icon, then click "add secondary email".

[2019-10-31 16:24] #127 closed, assigned to nobody

[2019-10-31 16:25] LeoMcA commented on #112
This has been implemented: https://discourse.mozilla.org/t/mozilla-people-directory-what-s-new/46994?u=leo

[2019-10-31 16:25] #112 closed, assigned to nobody

[2019-10-31 16:27] LeoMcA commented on #173
Good catch, thanks!

[2019-10-31 16:30] LeoMcA commented on #172
My understanding is this is a technical limitation, if fields didn't default to staff then we'd unintentionally leak data from Auth0 without explicit user consent.

[2019-10-31 16:30] #172 closed, assigned to nobody

[2019-10-31 16:39] LeoMcA commented on #171
Thanks for the feedback @devcer,

"Verify" is language used across the UI (the accounts are listed as verified once you've added them, for instance), and I believe it was chosen because of its relative non-technicalness (compared to "authorize").

Would you agree that if you've *authorized* your github account, then the fact that you have access to that github account has been *verified*?

[2019-10-31 16:43] Mte90 commented on #172
Well there are some data can be configured for registered users because in my case I am a volunteer and not staff.

[2019-10-31 16:44] LeoMcA commented on #170
I believe this feature was added to make editing your timezones easier (so you could just edit your location, and didn't need to know the associated timezone code), but yes I agree that its odd you're not able to override it if you want.

@HerminaC this seems like a bug, did we actually want to lock-down timezone editing when linking it to location?

[2019-10-31 16:45] LeoMcA commented on #169
This is a bit of a hack to allow people to search for "People Directory" or "Phonebook" and reach PMO.

[2019-10-31 16:45] #169 closed, assigned to nobody

[2019-10-31 16:45] Mte90 commented on #175
It is not clear because the languages are not clickable.

About the languages right now in mozillians it is a defined list to avoid also the kind of things I did.

[2019-10-31 16:49] LeoMcA commented on #167
`Private` is a bit of a misnomer because it's still accessible to privileged members of staff or services (the data has to be stored somewhere!). If you notice, you shouldn't be able to set anything to `Private` via the dropdown unless it's already set to `Private` (which would have been set by default).

@HerminaC I believe I remember a discussion around setting the default for NDA'd volunteers t

[2019-10-31 17:21] MilindaLaknath commented on #162
Had the same issue and set the scope to the public, then the image appeared. I think something wrong with the "staff" scope. When I set the scope to the "staff", image didn't appear even if I use the "view as staff" option.

[2019-10-31 17:56] HerminaC commented on #170
Hey @LeoMcA,

It's expected behaviour - anyone can choose not to share their location if they don't want to, but this impacts the timezone info. They are linked for convenience of use mainly and they also impact the way employees are scheduling meetings because of the time auto-converting feature we have associated to it, hence we want this info the be reliable.
@jens1o we have plenty of fields th

[2019-10-31 17:58] calixteman commented on #127
Nice: it works. Thx

[2019-10-31 18:04] HerminaC commented on #175
Hey @Mte90 ,

Indeed, this could be implemented in a nicer way. Thanks for bringing it to our attention, will file a ticket but we'll probably get to it later as we're now quite swamped with our roadmap and we're mainly addressing bugs or very annoying things, which this is not.

Thx,
Hermina

[2019-10-31 18:11] spoji commented on #113
I can reproduce this issue as a NDA contributor. Using Chrome 77.0

[2019-10-31 18:22] spoji commented on #162
I can reproduce this same issue. I had to change the scope to "NDA" to get my avatar to appear properly.

Keeping the scope to "Staff" was resulting to a broken image.

Tested under Chrome 77.0

[2019-10-31 18:44] LeoMcA commented on #113
This is a Chrome/Bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1557735

Closing as invalid.

[2019-10-31 18:44] #113 closed, assigned to nobody

[2019-10-31 18:50] LeoMcA commented on #165
Not that I'm aware of, thanks!

[2019-10-31 18:56] LeoMcA commented on #160
Indeed, but thankfully it doesn't look like it's revealing any private data, and if you do then go ahead and click save it writes to your profile.

This is still a weird bug, thanks for finding it!

[2019-10-31 21:15] Mte90 commented on #175
The point is not only a clickable link but there is no validation of what I am writing.

I can write whatever I want there and maybe alter also the link that will be added.

[2019-11-01 06:34] devcer commented on #171
Makes sense. thanks. :)

[2019-11-01 06:46] devcer opened #177 "Wish adding tags could be easier"
Adding tags or languages or any other section is harder.
-> First click on Edit
-> Click on Add Tag
-> Type tag
-> Either press enter or click submit
-> Then again click Add tag to add another tag

Could have been more easier if the flow is similar to mozillians.org!

[2019-11-01 08:30] fiji-flo commented on #164
To reproduce change the settings in about:preferences → Language and Appearance to 10 or 32.

[2019-11-01 08:33] #171 closed, assigned to nobody

[2019-11-04 10:13] LeoMcA commented on #168
@jens1o @Mte90 this should now be fixed (you might need to do a hard refresh), can you confirm?

[2019-11-04 10:42] Mte90 commented on #168
There is a box where is written that is required an ldap account now :-)

[2019-11-04 10:44] #168 closed, assigned to LeoMcA

[2019-11-05 17:26] fiji-flo commented on #164
Should be fixed.

[2019-11-05 17:26] #164 closed, assigned to fiji-flo

[2019-11-05 17:27] #163 closed, assigned to fiji-flo

[2019-11-05 17:29] #161 closed, assigned to fiji-flo

[2019-11-11 22:04] Mossop opened #178 "Show person's name in the page title"
It would be good to put the persons name in the page title when visiting a profile so I can easily jump to the right tab or history entry for the person.

[2019-11-22 16:58] LeoMcA commented on #174
Does the biography work for this?

[2019-11-22 17:01] LeoMcA commented on #176
We probably want to at least trim whitespace either side so that users aren't taken to links like `https://discourse.mozilla.org/u/%20username`

[2019-11-22 17:05] Mte90 commented on #174
Well this means break a lot the UI because the bio become very log like mine https://people.mozilla.org/p/Mte90
Also there is already the Accounts section that suggest people to fill it, if we ask to fill the bio they probably will never add them.

[2019-11-22 17:07] Mte90 opened #179 "Allow pasting comma seperated list of tags"
Check my profile where I copy and pasted https://people.mozilla.org/p/Mte90

[2019-11-22 17:28] LeoMcA commented on #174
Yeah that's true, I hadn't considered this.

[2019-11-22 20:07] gcoxmoz opened #180 "Unable to reach my own phonebook entry"
https://people.mozilla.org/s?query=gcox&who=all - This used to list just me, now it lists me, an admin account of mine, and James Cox.  Bit of a change, but not a bug.

If you click on me, https://people.mozilla.org/p/gcox , it comes up as 'This page isn't available'.

[2019-11-22 22:51] gdestuynder commented on #180
the first behavior is normal, as these accounts are now imported in the system
the second behavior is not normal and I think i traced down what happened:

- aws account ran out of global throughput (requestlimit for the account reached)
- import function ran, but failed a few things including opening a new log stream, due to the threshold
- import function failed to query the profile from dynamodb

[2019-11-23 01:13] gdestuynder commented on #180
your profile has been restored (all other affected profiles were restored)

thanks for the quick report and ping, much appreciated. The actual fix for this will land soon in mozilla-iam/cis

[2019-11-23 01:14] #180 closed, assigned to nobody

[2019-11-23 01:22] gcoxmoz commented on #180
Thanks for the investigation and restoration!

[2019-11-29 12:26] LeoMcA commented on #173
This has been fixed on testing and should be hitting production in the next few days

[2019-12-09 16:17] annevk opened #181 "Make it easier to copy GitHub handles"
Currently you have to drag from the left to right, it's not super convenient. This makes it easier to click, but I suspect that's not usually the thing you want to do when looking for someone's GitHub handle. I might be wrong though.

[2019-12-10 17:51] LeoMcA commented on #181
This is true of zoom meeting ids as well, and has always been a nuisance for me. Shouldn't be a huge change to fix.

[2019-12-17 22:31] MeFisto94 opened #182 "Linking to Bugzilla fails"
When trying to add my Bugzilla Identity, I see the rainbow dinosaur (https://bugzilla.mozilla.org/mojo/failraptor.png).
This happens after confirming bugzilla as oauth(?) application with the permission user:read.
As soon as I confirm that dialog, I see the dinosaur.

Unfortunately I cannot provide any helpful information other than that

[2019-12-17 23:09] dennisschagt opened #183 "Profile privacy help links to private/non-existent Discourse page"
The links with text `What do these mean` refer to a Discourse page which is private (or doesn't exist).

For example, see the following screenshot (on page: https://people.mozilla.org/e?section=personal-info):
![image](https://user-images.githubusercontent.com/4629607/71041660-e7874880-2129-11ea-8715-eb3695a13477.png)

Clinking on `What do these mean?` opens page [1].
The linked-to page shows `It

[2019-12-17 23:29] dennisschagt commented on #183
Related sources are linked below.
I'm not yet familiar with Vue so I will leave this for now.

[1] https://github.com/mozilla-iam/dino-park-front-end/blob/ba7131e453c3492a6be60b8edc89e5f24d4a8ba4/src/components/profile/PrivacySetting.vue#L15
[2] https://github.com/mozilla-iam/dino-park-front-end/blob/ba7131e453c3492a6be60b8edc89e5f24d4a8ba4/src/components/_mixins/LinksMixin.vue#L7-L8
[3] https://g

[2019-12-18 08:32] HerminaC commented on #182
Thanks @MeFisto94 !
@LeoMcA @fiji-flo guys, do you think you could please have a look into this?

[2019-12-18 08:47] HerminaC commented on #183
Thank you, @dennisschagt ! Your feedback is much appreciated - our bad.
@LeoMcA can you please replace the private Discourse post in there w/th [the public one](https://discourse.mozilla.org/t/mozilla-directory-profile-privacy-display-levels-explained/50443) for LDAP contributors?

[2019-12-18 11:04] LeoMcA commented on #183
Ah yes, we missed that link - I'm on it

[2019-12-18 11:23] LeoMcA commented on #183
@dennisschagt thanks for reporting this, the fix is now deployed on people.mozilla.org - you'll need to do a refresh to see the change

[2019-12-18 11:23] #183 closed, assigned to nobody

[2019-12-18 11:56] LeoMcA commented on #182
I got the same issue, then I cleared my cookies on bugzilla.mozilla.org, went through the process again (having to log in this time) and it worked - so I'm almost certain this is a bugzilla issue.

[2019-12-18 17:38] fiji-flo commented on #182
We saw these issues earlier this year and they where gone for a while. Looks like it got worse again. I reported a bug in BMO. Feel free to follow / comment there.

* https://bugzilla.mozilla.org/show_bug.cgi?id=1604852
* https://bugzilla.mozilla.org/show_bug.cgi?id=1557735

[2019-12-18 19:26] gdestuynder opened #184 "People.mozilla.org page is blank after login"
- User logs in with a new non-LDAP account by mistake (e.g. `google-oauth2`)
- User logs back in with the same email address, but with their LDAP account

Due to this, the user's `user_id` is for a `google-oauth2` profile, however its not yet in the CIS database, and the auth0 hook does not trigger (because its an LDAP account, and the LDAP account itself is pre-provisioned/exists).

This is a cor

[2019-12-18 20:15] emmairwin opened #185 "Clicking on search result (a person) give me 'This page is not available'"
Please slack me for the name (for privacy sake).
Steps.

1. Search for this person's name.
2. See there is a single result.
3. Click on their name
4. Goes to 'This Page is Not Available'

[2019-12-19 17:33] gdestuynder commented on #182
@dklawren (just making sure you've seen this)

[2019-12-20 23:44] gdestuynder commented on #184
The root cause is that the database reply is bigger than the functions can transmit. I added a "temp" fix (which will work for a long time): https://github.com/mozilla-iam/cis/blob/master/python-modules/cis_publisher/cis_publisher/auth0.py#L229-L234

This ensure our initial user import isn't crazy-big every time a batch runs. The long-term fix is to swap database schema or/and database

The fix ha

[2019-12-20 23:44] #184 closed, assigned to nobody

[2019-12-21 10:31] wrosenauer opened #186 "cannot login to people"
I've got an LDAP account as contributor but when I try to login to people.mozilla.org it tries a 2nd factor auth and then tells me that my account cannot authenticate using DUO.

[2019-12-21 12:33] HerminaC commented on #186
@gdestuynder do you think you could please have a look into this? Thanks!

[2019-12-23 16:21] gdestuynder commented on #186
Hi, if you've never done so you need to setup your 2FA on https://login.mozilla.com

Note that this also means you have not used this account in years - if it is no longer used you can  request for it's deletion on https://bugzilla.mozilla.org/enter_bug.cgi?product=Infrastructure%20%26%20Operations&component=Infrastructure%3A%20LDAP

[2019-12-30 17:25] ghost commented on #158
This is true for me as well.  It seems to think I have NoScript enabled, but I do not.  Nor do I believe that I have any NoScript-like addons enabled (disabled uBlock Origin for this)
`<strong>We're sorry but the Mozilla People Directory doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>`

[2019-12-30 18:50] mozillamarcia commented on #108
Any update on this feature? During the holiday break it would have been great to have this feature, especially since everyone doesn't use Bugzilla/Gmail/Slack notification and today we are trying to resolve a top crash beta bug.

[2019-12-30 21:53] HerminaC commented on #158
@fiji-flo @LeoMcA - could any of you guys please have a look into this when back? Thanks!

[2019-12-31 19:52] lordpixel23 opened #187 "Can’t login to people.mozilla.org"
I can log into bugzilla.mozilla.org but not people.mozilla.org. This may be due to an extremely old account.

What do you need to diagnose?

Andrew

[2020-01-06 11:00] LeoMcA commented on #158
This is hard to debug without being able to reproduce it. If this happens again, can you open the [web console](https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console) and paste any error messages which get spit out (or email them to me [leo@mozilla.com] if they contain private information).

[2020-01-06 11:04] HerminaC commented on #165
@MichaelKohler no good reason, just a miss on our side. Thanks for noticing.
@LeoMcA do you think you could please update that by adding [this link](https://github.com/mozilla-iam/dino-park-issues/issues) directly in there?
Thanks!

[2020-01-06 11:22] LeoMcA commented on #165
@HerminaC I just [deployed a fix](https://github.com/mozilla-iam/dino-park-front-end/pull/547#issuecomment-571103681) to prod :)

[2020-01-06 11:22] #165 closed, assigned to nobody

[2020-01-07 12:11] gdestuynder commented on #118
(Backlog https://jira.mozilla.com/browse/IAM-170)

[2020-01-08 03:03] kbrosnan opened #188 "Search is case sensitive for email"
Searching for `M_and_M` returns no results. Searching for `m_and_m` returns the person I am looking for.

[2020-01-14 14:16] gcoxmoz opened #189 "Update Accounts to include Matrix"
With IRC going away and Matrix coming up, please consider updating the Accounts choices to reflect this.

[2020-01-16 09:48] Mte90 commented on #179
The problem is still there

[2020-01-21 16:48] ghost commented on #158
Sorry for the slow response.

I get the following non-verbose error in a fresh Firefox profile.
Error: chunk-vendors.900ac52f.js:7:93068

I get a few more errors in my more aggressively customized main Firefox profile:
Content Security Policy: The page’s settings blocked the loading of a resource at inline (“script-src”). onloadwff.js:71:802491
The Components object is deprecated. It will soon be

[2020-01-24 19:01] jrconlin opened #190 "Feature request: Consider adding "Personal/Executive Assistant" field for director and higher"
It's often far easier to contact a given director or higher level manager's PA in order to schedule time for meetings. It's not always clear who that individual may be when looking at a given Phonebook page.

It might be useful to add an "Assistant" field in the contacts to give folks the best way to get that sort of meeting.

[2020-01-31 12:23] freaktechnik commented on #189
This seems to have been added, however it would be really nice if it also linked to matrix.to for that user.

[2020-01-31 12:26] gcoxmoz commented on #189
Oh.  Guess they did.  Well spotted.

[2020-02-02 05:44] LunarTwilight commented on #189
hm how would this work with users who don't give a full username (eg, `@example.host.tld`)? Maybe assume `@username:mozilla.org` if they just put a username?

[2020-02-02 05:45] LunarTwilight commented on #189
Also until/unless federation gets set up, I don't think matrix.to links will work, so it might be better to use chat.mozilla.org links instead?

[2020-02-02 05:49] LunarTwilight commented on #173
Looks like this is in production so should this issue be closed now?
![image](https://user-images.githubusercontent.com/13520392/73603832-541ca200-4534-11ea-84db-8dc104128864.png)

[2020-02-02 10:09] freaktechnik commented on #189
They do work. The main issue with matrix.to links is that they will refer to riot.im as riot instance, while most people use chat.mozilla.org as their riot instance. Federation has nothing to do with what client you can use, it only affects servers talking to each other.

[2020-02-03 20:20] Archaeopteryx opened #191 "Search terms altered if authentication necessary for search from search plugin"
1. The people.mozilla.org search engine is installed in the browser (Firefox Nightly) from the browser's search bar.
2. A keyword has been assigned to the search engine (Options > Search).
3. A search in the people directory gets started from the browser's address bar.

Since today or yesterday (might not have search Saturday and Friday), searches get the search term changed if the auth0 authentic

[2020-02-03 20:24] Archaeopteryx opened #192 "Search engine cannot be installed"
people.mozilla.org's search engine cannot be installed from the browser's search bar (tested with 74.0a1 Nightly and 72.0.2). Installing the search engine from bugzilla.mozilla.org works.

[2020-02-04 19:16] cshields opened #193 "weird characters in title when viewing open tabs (Firefox Windows)"
There are character placeholders that show up in the tabs view of firefox (windows taskbar) which are not reflected in the actual title of dinopark - but only with dinopark:

![image](https://user-images.githubusercontent.com/225283/73778284-ef8e5c80-4758-11ea-93bc-cdd282def273.png)

[2020-02-04 23:56] Archaeopteryx commented on #193
Not seeing them in the tabs here but in the task bar. The leading character returns `8296` for `charCodeAt`. That's Unicode Character 'FIRST STRONG ISOLATE' (U+2068)

Seems to be a regression from the migration to Fluent https://github.com/mozilla-iam/dino-park-front-end/commit/3e8d1beb75d0beb7b94ff8bde47246f9b972d960

[2020-02-04 23:59] cshields commented on #193
Yeah, to clarify I only see it in the tab list within the task bar.  (tab bar.. task bar.. tab in task bar..  *headdesk*)

[2020-02-06 02:12] dbaron opened #194 "cannot add more than one "secondary" email"
When editing my own profile, I can add a "secondary" email, but only one of them.

In the old phonebook, I had two:  my primary personal email, and my personal gmail account (which is sometimes useful separately).  I'd like to still be able to list both.

[2020-02-12 10:40] badboy commented on #191
Delete the cookie named `request_uri`.
Known problem, I think @fiji-flo is still trying to work around it.

[2020-02-12 10:46] Pike commented on #191
On which domain is that cookie? I had already cleared the cookies on people, to no avail.

[2020-02-14 17:56] jld commented on #191
I've been having this problem (with a keyword bookmark in Firefox) and there's a `request_uri` cookie for the domain `.people.mozilla.org` (note the leading dot) with the old/wrong search I keep being redirected back to, and one for the domain `people.mozilla.org` (without leading dot) with the correct last search.  I've deleted them (tried to delete the first one only, but Firefox deleted both) a

[2020-03-02 13:25] designakt commented on #192
Ran into the same problem on latest Nightly 75.0a1 and on release 73.0.1

[2020-03-23 15:08] jens1o opened #195 "LDAP not detected"
I have received LDAP access (see https://bugzilla.mozilla.org/show_bug.cgi?id=1612334), yet
![Keys submenu ](https://user-images.githubusercontent.com/11234139/77330944-545d4080-6d20-11ea-8758-9c2d14f4878b.png)
it says I didn't? :/

Is the LDAP given not associated with this personal profile? Either way, the UX doesn't feel great.

[2020-04-02 23:11] tomer commented on #189
There should be possible to link directly to `chat.mozilla.org` instance. For example, my profile should be something like https://chat.mozilla.org/#/user/@tomer:mozilla.org

Another option could be to host the `matrix.to` application with `riot.im` links replaced with `chat.mozilla.org`. ([source code is available here](https://github.com/matrix-org/matrix.to))

[2020-04-03 07:20] freaktechnik commented on #189
The tradeoff with using chat.mozilla.org links (which seems to be Mozilla's current strategy, so probably what this should do for now), is that they only work on desktop if the user is signed in to mozilla's riot instance. Same applies to a self-hosted matrix.to instance, since the link handling from Riot on Android for example won't capture it.

It sounds like matrix.to is going to be reworked so

[2020-04-03 10:11] tomer commented on #189
At the moment, the Mozilla Matrix field is plaintext, so people have to manually search for the user. Linkning directly to `chat.mozilla.org` will provide **some** users to enjoy this feature, while `matrix.to` provides similar link (but not using the mozilla domain) but provide instructions for other clients (at the moment Weechat, Quaternion and Tensor in addition to riot.im).

Another option, w

[2020-04-03 14:29] gcoxmoz commented on #189
I should've closed this back when the field got added.  The rest of this isn't in line with my request.

[2020-04-03 14:29] #189 closed, assigned to nobody

[2020-04-03 15:44] hwine opened #196 "Search field doesn't follow UX conventions"
The search box has an "X" at the right hand side. My expectation is that clicking that "x" will remove the current contents of the search field.

However on people.m.o, it just closes the search box, leaving the prior contents in the field.

![image](https://user-images.githubusercontent.com/132412/78379354-16191a00-7587-11ea-96bd-4a51b9b5983b.png)

I'm not aware of other sites presenting this UX.

[2020-04-05 18:13] emilio opened #197 "wrong z-sorting of accounts popup"
![image](https://user-images.githubusercontent.com/1323194/78506454-e2521600-7779-11ea-9521-a6c38f7f2bc8.png)

Happens in all browsers.

[2020-04-06 08:03] HerminaC commented on #197
Thank you, @emilio ! @andrew-sunada could you please have a look into this? Thanks a lot!

[2020-05-11 03:50] globau opened #198 "Incorrect secondary email displayed"
Steps to reproduce:
1. Add a secondary email to your profile
2. View a profile of someone with a secondary email set (eg. https://people.mozilla.org/p/dbaron)
3. Use the "user menu" in the top right to navigate to your own profile

Expected outcome:
- Your own secondary email address is displayed on your profile

Actual outcome:
- The secondary email address of the profile you were just viewing is

[2020-06-04 17:08] siddhartharao17 opened #199 "[Bug] Valid usernames not accepted"
Username field seems to have an incorrect validation logic for people.mozilla.org user profile. Username I was trying to use : siddhartharao17 which is my handle across all Mozilla profiles. I still get the following error message:

<img width="412" alt="Screen Shot 2020-06-04 at 10 05 36 AM" src="https://user-images.githubusercontent.com/8169998/83789063-0b443980-a64b-11ea-915b-07b670e17b5e.png">

[2020-06-15 16:29] floatingatoll opened #200 "ICC color profiles are stripped from profile photo uploads (without sRGB conversion)"
When uploading a profile photo that uses ICC colorspace "Display P3", Dinopark simply strips the ICC profile without converting the image to sRGB. This results in damaged profile photos for anyone uploading photos from a wide color pipeline - such as modern mobile phones, DSLR cameras, or any Apple devices.

Please either retain the ICC profile included with the user's uploaded image, or convert t

[2020-06-16 06:15] floatingatoll commented on #200
We looked into this a bit and after reviewing https://github.com/mozilla-iam/dino-park-fossil/blob/master/src/send/resize.rs#L24 I tested my raw (unresized) profile image - it is delivered with correct ICC profile and looks fine in Firefox - but all resized versions end up with missing data.

[2020-06-16 07:40] fiji-flo commented on #200
I dug deeper. Just to confirm the _raw_ imaged retrieved from the API had a sRGB (default) color profile but it should have been P3, so it's not the resizing (sorry I got confused there).

I reduced it to this, save that and have a _P3_ image called `i.jpg` next to it. If you right click → save the first image it should still have the color profile, right click → save the 2nd image it's missing. I

[2020-06-16 14:32] floatingatoll commented on #200
I suspect it converts to "whatever colorspace the canvas element is using", which _may_ vary per browser, and (in Firefox's case) I believe also per ICC about:config settings (gfx.color_management). There's a web standard (WIP: [CSS color level 4](https://www.w3.org/TR/css-color-4/)) that essentially states "sRGB unless specified otherwise" that will help resolve the inconsistencies, but Firefox c

[2020-06-16 14:43] floatingatoll commented on #200
Note that the raw image *does* have ICC included, while the resized images *do not* have ICC included — so it sounds like there are multiple steps where the color is being mutated. The raw, with its profile, is visually acceptable and does not have apparent issues.

[2020-06-18 21:02] siddhartharao17 commented on #199
Bug has been fixed. Thank you!

[2020-06-18 21:02] #199 closed, assigned to nobody

[2020-06-30 18:59] tomprince opened #201 "Allow uploading a different profile pictures for the different display levels."
I have a picture uploaded as my profile picture, set to staff only (partly for the reasons outlined in  #150). However, I'd like to associate a different image for other privacy levels (I've adopted the the original identicon that I got from github, and use it across every service, including slack/matrix/bugzilla/phabricator).

[2020-07-30 18:01] gene1wood opened #202 "Visiting deep link to people.mozilla.org results in being sent to the homepage after SSO login"
# Steps to reproduce

1. Establish the cookie condition to trigger the issue which is to have two cookies that look like this
![Selection_197](https://user-images.githubusercontent.com/1134034/88957503-cc4df100-d253-11ea-8ea9-987bcca2254c.png)
![Selection_196](https://user-images.githubusercontent.com/1134034/88957518-ceb04b00-d253-11ea-842c-7462196ff9e8.png)
2. While you have no valid current ses

[2020-08-05 07:31] jens1o commented on #200
I looked into this the last two working days. Here is what I've come up with until here.
To get a first grasp for this bug, I was provided the image floatingatoll could reproduce with.
The sample image does actually *not* provide an ICC color profile (i.e., the png image does not include an `iCCP` chunk), but instead relies on the png `sRGB` auxillary data chunk to indicate its special color manag

[2020-08-06 06:36] jens1o commented on #200
A little bit of an update: My approach with copying metadata was good, I was just lacking to read the spec carefully enough. After a heads up from someone in the issue, the fix worked, as the spec says that the data I manually copied in in the downscaled images in the end must be put before the first image data (`IDAT`) chunk. A fix is coming.

[2020-08-10 06:49] #200 closed, assigned to jens1o

[2020-08-11 13:10] jens1o commented on #177
see also https://github.com/mozilla-iam/dino-park-issues/issues/134#issuecomment-548298112

[2020-08-11 16:17] #198 closed, assigned to jens1o

[2020-08-13 07:38] #134 closed, assigned to jens1o

[2020-08-13 14:44] #177 closed, assigned to jens1o

[2020-08-13 14:44] #179 closed, assigned to jens1o

[2020-08-24 12:18] jens1o commented on #173
Closing as fixed.

[2020-08-24 12:18] #173 closed, assigned to nobody

[2020-08-25 15:46] jens1o opened #203 "Possibly undefined behavior when adding and removing curators in the front-end due to racing condition"
Steps to reproduce:

1. Open the member edit tab of an access group
2. In the Vue.js devtools, verify that `addedCurators` and `removedCurators` for the `<AccessGroupMemberEdit>` component are empty.
![image](https://user-images.githubusercontent.com/11234139/91194677-abfd3f00-e6f8-11ea-9afb-9c14255d9bca.png)
3. Add any curator to the list, verify that `addedCurators` has now one entry:
![image](h

[2020-08-26 06:11] jens1o commented on #203
This could possibly affect other components as well.

[2020-08-26 06:12] fiji-flo commented on #203
Thanks for reporting. That must be fixed. We also have to check if the same is the case for the invitation field.

[2020-09-11 18:44] THEBEAST310 opened #204 "Not Able to login into my Account"
![Screenshot (17215)](https://user-images.githubusercontent.com/52762648/92961413-d0913f00-f48c-11ea-83d3-67dd1447092e.png)

The site never loads

[2020-09-14 14:48] globau opened #205 "Searching for words from my bio never returns my profile"
Here's my current bio:

[code]

Searching for _any_ of the words there doesn't return me.

https://people.mozilla.org/s?query=bugzilla&who=staff
https://people.mozilla.org/s?query=Mercurial&who=staff
https://people.mozilla.org/s?query=Engineering%20Workflow&who=staff
https://people.mozilla.org/s?query=weird%20hours&who=staff

It would be useful to included in search results.

[2020-09-16 04:52] globau commented on #205
Digging a little bit deeper it looks like the bio field is excluded from the default list of fields when you search.

I'm aware that you can search bio text with `description:bugzilla` (https://people.mozilla.org/s?query=description%3Abugzilla&who=staff), however this is not discoverable – I had to dig into the source code to find the internal field name, and most people wouldn't know about the se

[2021-01-09 16:00] Timmaks opened #206 "Add community.mozilla.org profile to the accounts section"
It would be nice if we can add a link to our profile on community.mozilla.org  to the account section on people

[2022-07-01 17:10] jtveg commented on #194
I cannot add a secondary email

[2022-08-26 13:31] #175 closed, assigned to nobody

[2022-08-26 13:32] #174 closed, assigned to nobody